/* Bramka logowania */
.icon {
    font-size: 24px;
    color: #4089dd; /* Kolor niebieski */
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    min-height: 200px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2); /* ramka 1 piksel z przezroczystym kolorem */
    border-radius: 10px; /* zaokrąglone rogi */
    /* filter: blur border(1px);  */
    color: #6d6d6d;
}

/* General css */
body {
    background-color: #1e2124; /* Nowy kolor tła */
    color: #c7c7c7; /* Nowy kolor tekstu */
    cursor: default;
    padding-bottom: 150px;
  }
  button:hover {
      cursor: default;
  }
  a {
      text-decoration: none;
      color: #c7c7c7; /* Nowy kolor tekstu */
      cursor: default;
  }
  a:hover {
      color: #ccc; /* Kolor przy kliknięciu nad linkiem */
      cursor: default;
  }
  div:hover {
      cursor: default;
  }
  .no-border {
      border: none !important;
  }
  .no-fill {
      background-color: transparent !important;
  }
  .sidebar a:hover {
    background-color: #9da2a8; /* Nowy kolor tła dla linku po najechaniu myszką */
  }
  .main-content {
    margin-left: 0px; /* Szerokość menu bocznego */
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2c2f33; /* Nowy kolor tła dla stopki */
    padding: 10px 0;
    text-align: center;
    color: #b8c2cc; /* Nowy kolor tekstu dla stopki */
  }
  .custom-checkbox {
  background-color: grey; /* Kolor tła checkboxa */
  border-color: grey;     /* Kolor obramowania checkboxa */
  }

  /* Styl dla aktywnego switcha */
  .custom-checkbox:checked {
      background-color: grey; /* Kolor tła checkboxa dla aktywnego switcha */
      border-color: grey;     /* Kolor obramowania checkboxa dla aktywnego switcha */
  }

  /* Domyślne style dla elementu ::after (ikonki) dla nieaktywnego switcha */
  .custom-checkbox::after {
      background-color: grey; /* Kolor tła ikonki checkboxa */
      border-color: grey;     /* Kolor obramowania ikonki checkboxa */
  }

  /* Style dla elementu ::after (ikonki) dla aktywnego switcha */
  .custom-checkbox:checked::after {
      background-color: grey; /* Kolor tła ikonki checkboxa dla aktywnego switcha */
      border-color: grey;     /* Kolor obramowania ikonki checkboxa dla aktywnego switcha */
  }

  .dark-mode {
    background-color: #121212; /* Kolor tła w trybie ciemnym */
    color: #9b9b9b; /* Kolor tekstu w trybie ciemnym */
  }
  .dark-mode a {
      background-color: #121212; /* Kolor tła w trybie ciemnym */
    color: #606169; /* Kolor tekstu w trybie ciemnym */
  }
  .dark-mode a:hover {
    background-color: #121212; /* Kolor tła w trybie ciemnym */
    color: #ababab; /* Kolor tekstu w trybie ciemnym */
  }
  
  .klej {
    display: flex;
    justify-content: space-between;
  }
  .klej > div {
      flex: 1;
      /* min-width: 100px; Dostosuj minimalną szerokość według potrzeb */
      padding: 8px; /* Dostosuj wewnętrzny odstęp według potrzeb */
      box-sizing: border-box; /* Zapobiega zwiększaniu rozmiaru diva z powodu paddingu */
      /* text-align: left; Opcjonalnie: dostosuj dla wycentrowanego tekstu */
  }
  .tylko-klej {
      margin: 2px;
      display: flex;
      justify-content: space-between;
  }
  .tylko-klej > div {
      flex: 1;
      box-sizing: border-box; /* Zapobiega zwiększaniu rozmiaru diva z powodu paddingu */
  }
  .jasne {
      background-color: #1a1a1a;
      color: #e4e4e4;
      border-radius: 10px;
  }
  .podswietlaj :hover {
      background-color: #d2d2d2;
      color: #2c2f33;
  }
  .rogi > div{
      border-radius: 10px;
  }
  .sub-panel {
      background-color: #1a1a1a;
      border-radius: 5px;
      padding: 4px;
      font-size: small;
      
  }
  .team_button_domy {
    background-color: #007f00 !important;
  }
  .team_button_budownictwo {
    background-color: #7f0000 !important;
  }
  .team_button_elitehome {
    background-color: #656565 !important;
  }
  .team_button_instalacje {
    background-color: #a79900 !important;
  }
  .team_button_investment {
    background-color: #050505 !important;
  }
  .team_button_development {
    background-color: #003fb4 !important;
  }

 .estate_button {
    background-color: #5e6d73 !important;
  }
.team-heads {
    border-radius: 7px;
    font-size: 14pt;
    text-align: left;
    font-weight: bold;
    color:#969696;
    padding: 5px;
    margin: 5px;
}
.team-drops {
    border-radius: 10px;
    background-color: #121212;
    border: #393939 dotted 2px;
    text-align: left;
    padding: 15px;
    margin: 15px;
}
.team-drops-out {
    width: 100% ;
    justify-content: center;
}
.team-drops-in {
    display: flex; 
    width: 100% !important; 
    min-width: 300px !important; 
    min-height: 120px !important;
}

.avatar {
    max-height: 150px;
    min-width:  150px;
    max-width: 100%;
    border-radius: 50%;
}

.avatar-sm {
  width: 100%; 
  height: auto; /* Automatycznie dostosowuje wysokość, zachowując proporcje */
  max-width: 200px; 
  border-radius: 50%; 
}

.avatar-lg {
  width: 100%; 
  height: auto; /* Automatycznie dostosowuje wysokość, zachowując proporcje */
  max-width: 400px; 
  border-radius: 50%; 
}

.avatar-xl {
  width: 100%; 
  height: auto; /* Automatycznie dostosowuje wysokość, zachowując proporcje */
  max-width: 500px; 
  border-radius: 50%; 
}


  .avatar-mini {
    max-height: 25px;
    min-width:  25px;
    max-width: 100%;
    border-radius: 50%;
    border: #0e1d13 solid thin;
}
  .table-creator {
      width: 100%;
      padding: 8px;
  }
  .formatuj {
      font-size: 16px;
      margin: 10px;
  }
  .formatuj-maly {
      font-size: 13px;
      margin: 10px;
      color: #6d6d6d;
      max-width: 60px;
  }

  .formatyj-maly-wiersz {
      font-size: 11px;
      margin: 4px;
  }
  .formatyj-max-height {
      max-height: 15px;
  }
  .formatuj-maly-logout {
      font-size: 13px;
      margin: 10px;
      min-width: 300px;
      text-align: right;
      color: #6d6d6d;
  }
  .formatuj-maly-font {
      font-size: 13px;
  }
  .formatuj-margin {
      margin: 10px;
  }
  .formatuj-margin-top {
    margin-top: 10px;
}
  .formatuj-left {
      text-align: left;
  }
  .formatuj-right {
      text-align: right;
  }
  .formatuj-bottom {
      margin-top: 12px;
  }
  .formatuj-padding{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .formatuj-padding-1{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .formatuj-padding-lg{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
  }

  .formatuj-padding-xl{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .formatuj-inputs {
    max-height: 30px; 
    font-size: 12px;
    background-color: #1e2124;
    color: #9da2a8; 
    border: #393939 solid 1px;
    border-radius: 5px;
    transition: background-color 0.3s;  /* Dodane przejście animacji dla płynnego efektu */
    }
    .formatuj-inputs-setting,
    .formatuj-inputs-setting label {
        font-size: 12px;
        background-color: #1e2124;
        color: #9da2a8; 
        border: #393939 solid 1px;
        border-radius: 5px;
        transition: background-color 0.3s;
        padding: 3px;
        outline: none; /* Wyłączanie domyślnego outline na :focus */
    }

    .formatuj-inputs-setting:focus,
    .formatuj-inputs-setting label:focus {
        background-color: #1e2124;
        color: #9da2a8; 
    }

    .formatuj-inputs-setting:active,
    .formatuj-inputs-setting label:active {
        background-color: #1e2124;
        color: #9da2a8; 
    }
    
    .formatuj-inputs:active {
        background-color: #3e4142;  /* Nowy kolor tła po kliknięciu */
        color: #9da2a8; 
    }
    .formatuj-inputs:hover, .formatuj-inputs:focus {
        background-color: #33383b;  /* Nowy kolor tła po najechaniu myszą lub po wybraniu pola */
        color: #9da2a8; 
    }
  .formatuj-header {
      font-size: 16px;
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 8px;
      background-color: #111317; /* Kolor tła */
      border-bottom: #ababab solid 1px;
      font-weight: bold;
  }
  
  .formatuj-light-line {
      font-size: 16px;
      margin-left: 5px;
      margin-right: 8px;
      background-color: #1c2026; /* Kolor tła */
      border-bottom: #ababab solid 1px;
  }
  .formatuj-dark-line {
      font-size: 16px;
      margin-left: 5px;
      margin-right: 8px;
      background-color: #22272e; /* Kolor tła */
      border-bottom: #ababab solid 1px;
  }
  .formatuj-list {
    font-size: 13px;
    background-color: #1e1e1e; /* Kolor tła */
    color: #ababab;
  }
  .column-id {
      max-width: 75px;
      flex: 0 0 75px; /* Ustawia sztywną szerokość na 75px, ale nie pozwala na rozszerzanie */
      padding: 8px;
      /* box-sizing: border-box; */
      text-align: left;
  }
  .column-expand {
  flex: 1; /* Rozciąga się elastycznie do dostępnego miejsca */
  padding: 8px;
  box-sizing: border-box;
  text-align: left;
  }

  @media (max-width: 576px) {
      .column-expand {
          min-width: 100%; /* Ustawienie minimalnej szerokości na 100% na małych ekranach */
      }
  }

  @media (min-width: 576px) and (max-width: 768px) {
      .column-expand {
          min-width: 75%; /* Ustawienie minimalnej szerokości na 75% na ekranach średnich */
      }
  }

/* Dodaj więcej media queries według potrzeb dla innych rozmiarów ekranu */

  .column-usual {
      flex: 1; /* Rozciąga się elastycznie do dostępnego miejsca */
      padding: 8px;
      box-sizing: border-box;
      text-align: left;
  }
  .column-ender {
      min-width: 300px;
      flex: 0 0 300px; /* Ustawia sztywną szerokość na 300px, ale nie pozwala na rozszerzanie */
      padding: 8px;
      box-sizing: border-box;
      text-align: right;
  }
  .colapse-column-id {
      max-width: 75px;
      flex: 0 0 75px;
      padding: 12px;
      box-sizing: border-box;
      text-align: center;
      display: flex;
      align-items: center;
      border-radius: 10px;
  }
  .colapse-column-expand {
      min-width: 500px;
      flex: 1; /* Rozciąga się elastycznie do dostępnego miejsca */
      padding: 12px;
      box-sizing: border-box;
      text-align: left;
  }
  .colapse-column-usual {
      flex: 1; /* Rozciąga się elastycznie do dostępnego miejsca */
      padding: 12px;
      box-sizing: border-box;
      text-align: left;
  }
  
  .colapse-column-ender {
      min-width: 300px;
      flex: 0 0 300px; /* Ustawia sztywną szerokość na 300px, ale nie pozwala na rozszerzanie */
      padding: 12px;
      box-sizing: border-box;
      text-align: right;
      border-radius: 10px;
  }
  .colapse-column-id-mini {
      max-width: 75px;
      flex: 0 0 75px;
      padding: 5px;
      box-sizing: border-box;
      text-align: center;
      display: flex;
      align-items: center;
      border-radius: 7px;
      font-weight: bold;
  }
  .colapse-column-expand-mini {
      min-width: 768px;
      flex: 1; /* Rozciąga się elastycznie do dostępnego miejsca */
      padding: 5px;
      box-sizing: border-box;
      text-align: left;
      border-radius: 7px;
  }
  .colapse-column-usual-mini {
      flex: 1; /* Rozciąga się elastycznie do dostępnego miejsca */
      padding: 5px;
      box-sizing: border-box;
      text-align: left;
      border-radius: 7px;
  }
  .colapse-column-ender-mini {
      max-width: 300px;
      flex: 0 0 300px; /* Ustawia sztywną szerokość na 300px, ale nie pozwala na rozszerzanie */
      padding: 5px;
      box-sizing: border-box;
      text-align: right;
      border-radius: 7px;
  }
  .przyklejone-divy {
      position: fixed; /* Określa, żeby elementy były przyklejone do okna przeglądarki */
      top: 0; /* Określa odległość od góry */
      right: 0; /* Określa, że elementy mają być przylepione do prawej strony */
      min-width: 25%;
      padding-top: 15px;
  }
  .user-data {
      padding-left: 5px;
  }
  .user-data-width {
      max-width: 150px;
      padding-left: 5px;
  }
  .oc-height {
      height: fit-content;
  }
  .oc-width {
      width: 800px;
  }
  .alpha {
      opacity: 0.52;
  }
  .no-alpha {
      opacity: 1;
  }
  .list-item {
    margin-bottom: 10px;
  }
  .logo-frame {
    background-color: #000000;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 15px;
    margin-left: 50px;
    width: max-content;
    font-size: 28px;
    border-radius: 10px;
  }

  /* Dostosuj kolor tła i kolor tekstu dla paginacji */
.pagination {
    background-color: transparent ; /* Kolor tła */
}

.pagination a, .pagination span {
    color: grey; /* Kolor tekstu */
}

/* Dostosuj styl dla aktywnej strony */
.pagination .page-item.active a {
    background-color: #2c2f33; /* Kolor tła dla aktywnej strony */
    border-color: grey; /* Kolor obramowania dla aktywnej strony */
}

.pagination li {
    background-color: #2c2f33; /* Kolor tła dla aktywnej strony */
}
/* Dostosuj styl dla przycisku "Previous" */
.pagination .page-item:first-child .page-link {
    margin-left: 0; /* Usuń odstęp z lewej strony */
}

/* Dostosuj styl dla przycisku "Next" */
.pagination .page-item:last-child .page-link {
    margin-right: 0; /* Usuń odstęp z prawej strony */
}

.custom-icon-button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: default;
    outline: none;
}

.custom-icon-button:hover {
cursor: default;
}

.profil-desc {
font-size: 14px;
max-width: 120px;
text-align: justify;
color:#969696;
}
.profil-content {
    font-size: 14px;
    text-align: justify;
    /* color:#d5d5d5; */
}
.profil-content-email {
    font-size: 14px;
    text-align: justify;
    color:#d9d8d8;
}
.profil-info {
    font-size: 11px;
    text-align: justify;
    color:#969696;
}

#home, #team {
    margin-bottom: 20px;
}

#home div, #team div, .dostepnyPracownik {
    width: 100px !important;
    height: 100px !important;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: move;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 50%;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; /* Zmieniono z 'center' na 'flex-end' */
    position: relative;
    padding-top: 50px;
    font-weight: bold; /* Pogrubienie tekstu */
    text-decoration: underline; /* Opcjonalne: dodanie podkreślenia (przykładowa dekoracja) */
    font-size: medium;
}

#home div::after,
#team div::after,
.dostepnyPracownik::after {
    content: "";
    height: 3px;
    width: 100%;
}

.dostepnyPracownik {
    width: 100px !important;
    height: 100px !important;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: move;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 50%;
    background-color: #000000;
    background-size: cover; /* Dodaj to */
    background-position: center;
    background-repeat: no-repeat;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  flex-end;
    position: relative;
    padding-top: 50px;
    font-weight: bold; /* Pogrubienie tekstu */
    text-decoration: underline; /* Opcjonalne: dodanie podkreślenia (przykładowa dekoracja) */
}

.ramka_tekstu {
    background-color: black;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 10%;
    margin-top: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 3px;
}

.active-color-bg {
    background-color: #0e1d13 !important;
}

.input-warning {
    border: 1px solid red !important; /* czerwona obramówka dla błędnych pól */
}

.horizontal-list {
    list-style-type: none; /* Usuwa domyślne punktory */
    margin: 0; /* Resetuje domyślny margines */
    padding: 0; /* Resetuje domyślne paddingi */
    display: flex; 
    /* Włącza Flexbox */
    flex-wrap: wrap;
    flex-direction: row; /* Ustawia elementy listy poziomo */
    align-items: center; /* Opcjonalnie, wyrównuje elementy listy do środka w pionie */
  }
  
  .horizontal-list li {
    margin-right: 20px; /* Dodaje odstęp między elementami listy; dostosuj według potrzeb */
  }
  
  .horizontal-list li:last-child {
    margin-right: 0; /* Usuwa margines z prawej strony ostatniego elementu listy */
  }

  .formatuj-hover {
    background-color: transparent;
  }

  .formatuj-hover:hover {
    background-color: #33383b;
  }

 .drop-area {
    width: 80%;
    height: 200px;
    border: 2px dashed #7d7d7d;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.drop-area h3 {
    color: #6d6d6d;
}

.drop-area.highlight {
    border-color: #666;
    background-color: #33383b;
}

.formatuj-bg-dropbox-list {
    background-color: #33383b;
}

.drop-box-close-button {
    max-height: 18px !important;
    max-width: 18px !important;
}

.btn-close.drop-box-close-button {
    width: 12px; 
    height: 12px;   
}

/* FadeIn effect */
.fadeIn {
    animation: fadeInEffect 0.5s ease forwards;
}
/* Style bazowe dla linków */
.fadeIn a {
    opacity: 0.3;  /* Początkowa przezroczystość */
    transform: translateY(3px); /* Początkowe przesunięcie */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Gładkie przejścia dla przezroczystości i przesunięcia */
}

/* Efekt fadeIn przy najechaniu */
.fadeIn a:hover {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeInEffect {
    from {
        opacity: 0;
        transform: translateY(3px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* FadeOut effect */
.fadeOut {
    animation: fadeOutEffect 0.5s ease forwards;
}

@keyframes fadeOutEffect {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-3px);
    }
}

.dark-mode-data-career {
    background-color: #212529; /* Ciemne tło dla pola */
    color: #b5b6b6; /* Jasny tekst */
    border: 1px solid #383838; /* Ciemniejsze obramowanie */
    border-radius: 5px; /* Zaokrąglone rogi */
    padding: 5px; /* Odpowiednia wielkość wnętrza */
    /* width: 100%; */
    box-sizing: border-box;
}

/* Zmiana stylu na focus (gdy użytkownik klika) */
.dark-mode-data-career:focus {
    outline: none;
    border-color: #535d68; /* Niebieskie obramowanie na focus */
    box-shadow: 0 0 5px #5e6265;
}

/* Stylizacja przy najechaniu myszką */
.dark-mode-data-career:hover {
    border-color: #e5e6e6; /* Jaśniejsze obramowanie przy najechaniu */
}

.career-properties {
    margin-left: 12px;
    font-size: 14px;
    line-height: 1.5;
}

.career-properties p{
    margin-top: 0px;
}

.career-properties-h1{
    padding-left: 5px;
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
}

.career-properties i{
    color: #43ba03;
}

.career-properties span{
    font-weight: 600;
    padding-left: 5px;
    color: #fcca05;
}

.career-properties-other {
    font-size: 13px;
    line-height: 1.3;
    color: #c8c8c8;
}

.career-properties-other p {
    font-size: 13px;
}

.career-properties-other li{
    margin-top: 2px;
}


/* Stylowanie edytowalnego div-a */
.fbgroups-requirements-description {
    color: #c2c2c2;
    border: #6a6a6a solid 1px;
    padding: 10px;
    min-height: 100px;
    width: 100%;
    box-sizing: border-box;
    position: relative; /* Umożliwia pozycjonowanie licznika znaków */
    border-radius: 5px; 
}


  
  /* Stan podczas edycji (edycja aktywna) */
.fbgroups-requirements-description.editing {
    background-color: #0e1d13; /* Inne tło podczas edycji */
    color: #fff; /* Zmieniony kolor czcionki podczas edycji */
  }

/* Stylowanie dla licznika znaków w prawym dolnym rogu */
.fbgroups-requirements-description .char-count {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 12px;
  color: #666;
}

/* Klasy dla warunków mniejszej i większej liczby znaków */
.minus130, .more130 {
  font-size: 14px;
  margin-top: 10px;
}

/* Style, które zmienią się dynamicznie */
.minus130 {
  color: green;
}

.more130 {
  color: red;
}

/* Klasa dla mniej niż 130 znaków */
.mainDiv-minus130 {
    font-size: 24px; /* Czcionka 24px, gdy liczba znaków jest <= 130 */
    text-align: center;
    font-weight: 700;
    background-color: #161616; 
}
  
  /* Klasa dla więcej niż 130 znaków */
.mainDiv-more130 {
    font-size: 15px; /* Czcionka 13px, gdy liczba znaków jest > 130 */
    text-align: left;
    font-weight:normal;
    background-color: #161616;
}


/* Styl dla divów z kolorami */
.color-picker {
    display: flex;
    justify-content: flex-start; /* Justowanie od lewej */
    gap: 10px; /* Odstęp między boxami */
}
  
.color-box {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    background-size: cover;
    border: #33383b 1px solid;
}
  
  /* Dodajemy obrys, gdy div jest wybrany */
.color-box.selected {
    outline: 3px solid #fff; /* Możesz zmienić na dowolny kolor obrysu */
}

.schedule-output {
    font-size: 10px;
    margin-top: 15px;
}


/* Styl dla listy dni tygodnia */
.shedule-list-config {
    font-weight: 700;
    font-size: 10px;
    margin-bottom: 0;
    list-style-type: none; /* Usuwa kropki z listy */
}

/* Styl dla szczegółów daty */
.shedule-date-details {
    color: #555; /* Przyciemnienie koloru szczegółów daty */
    font-size: 10px;
    display: block; /* Ustawienie wiersza dla daty */
    margin-bottom: 0px;
    margin-left: 10px;
}

.campaign-checkpoints {
    /* display: flex; */
    justify-content: space-between;
    color:#121212;
}

.checkpoint {
    width: 110px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    border: #4f555c 1px solid;
    text-align: center;
}

.squerecircle {
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 800;
    color: #e7e7e7;
    background-color: #050505;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
}

.completed {
    background: linear-gradient(45deg, #b9ffb9, white);
    /* background-color: #d8fbd8; */
    color:#121212;
}

.in-progress {
    background: linear-gradient(45deg, #fce7c4, white);
    /* background-color: #fff2db; */
    color:#121212;
}

.error {
    background: linear-gradient(45deg, #ffc6c6, white);
    color:#ff0000;
}

.waiting {
    background: linear-gradient(45deg, #9b9b9b, white);
    /* background-color: #dedede; */
    color:#000000;
}

.completed-icon {
    color: green;
    font-size: 26px;
}

.in-progress-icon {
    color: orange;
    font-size: 26px;
}

.error-icon {
    color: red;
    font-size: 26px;
}

.waiting-icon {
    color: gray;
    font-size: 26px;
}

.fbgroups-requirements-description-preview {
    color: #c2c2c2;
    border: #6a6a6a solid 1px;
    padding: 10px;
    min-height: 400px;
    width: 100%;
    box-sizing: border-box;
    position: relative; /* Umożliwia pozycjonowanie licznika znaków */
    border-radius: 5px; 
    font-size: 22px;
}
.fbgroups-requirements-description-preview-0 {
    color: #c2c2c2;
    border: #6a6a6a solid 1px;
    padding: 10px;
    min-height: 300px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px; 
    font-size: 15px;
}

.fbgroups-requirements-description-preview-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border: #6a6a6a solid 1px;
    padding: 10px;
    min-height: 300px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px; 
    font-size: 25px;
    font-weight: 700;
    background-color: #c600ff;
}

.fbgroups-requirements-description-preview-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border: #6a6a6a solid 1px;
    padding: 10px;
    min-height: 300px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px; 
    font-size: 25px;
    font-weight: 700;
    background-color: #e2013b;
}

.fbgroups-requirements-description-preview-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border: #6a6a6a solid 1px;
    padding: 10px;
    min-height: 300px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px; 
    font-size: 25px;
    font-weight: 700;
    background-color: #000000;
}


.fbgroups-requirements-description-preview-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border: #6a6a6a solid 1px;
    padding: 10px;
    min-height: 300px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px; 
    font-size: 25px;
    font-weight: 700;
    background: linear-gradient(45deg, #dd085c, #462db7);
}

.fbgroups-requirements-description-preview-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    border: #6a6a6a solid 1px;
    padding: 10px;
    min-height: 300px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px; 
    font-size: 25px;
    font-weight: 700;
    background: linear-gradient(45deg, #783de0, #e537f8);
}

.fbgroups-requirements-description-preview-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    border: #6a6a6a solid 1px;
    padding: 10px;
    min-height: 300px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px; 
    font-size: 25px;
    font-weight: 700;
    background: linear-gradient(0deg, #be2ba3, #fdb63e);
}

.fbgroups-requirements-description-preview-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border: #6a6a6a solid 1px;
    padding: 10px;
    min-height: 300px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px; 
    font-size: 25px;
    font-weight: 700;
    background: linear-gradient(45deg, #535968, #22232a);
}

.fbgroups-requirements-description-preview-8 {
    color: #ffffff;
    border: #6a6a6a solid 1px;
    padding: 10px;
    min-height: 300px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px; 
    font-size: 15px;
    font-weight: 800;
}

.fbgroups-requirements-description-preview-9 {
    color: #ffffff;
    border: #6a6a6a solid 1px;
    padding: 10px;
    min-height: 300px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px; 
    font-size: 25px;
    font-weight: 700;
}

/* facebookgroups active warning error inprogress */
.ico-facebookgroups-active {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #005e00; 
    background-image: url('../img/facebookgroups-active.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-facebookgroups-active:hover {
    outline-color: #02ff02; 
    transform: scale(1.1); 
  }

  .ico-facebookgroups-warning {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #ffbb00; 
    background-image: url('../img/facebookgroups-warning.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-facebookgroups-warning:hover {
    outline-color: #fffb1f; 
    transform: scale(1.1); 
  }

  .ico-facebookgroups-error {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #c60000; 
    background-image: url('../img/facebookgroups-error.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-facebookgroups-error:hover {
    outline-color: #ff4242; 
    transform: scale(1.1); 
  }


  .ico-facebookgroups-inprogress {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #007387; 
    background-image: url('../img/facebookgroups-inprogress.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    animation: pulsate 1.5s infinite; /* Animacja pulsowania */
    transition: all 0.3s ease-in-out; /* Płynna zmiana na hover */
  }
  
  .ico-facebookgroups-inprogress:hover {
    animation: none; /* Zatrzymanie animacji */
    outline-color: #00e5ff; 
    transform: scale(1.1); 
  }


  
/* adresowo active warning error inprogress hold */
.ico-adresowo-active {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #005e00; 
    background-image: url('../img/adresowo-active.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-adresowo-active:hover {
    outline-color: #02ff02; 
    transform: scale(1.1); 
  }

  .ico-adresowo-warning {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #ffbb00; 
    background-image: url('../img/adresowo-warning.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-adresowo-warning:hover {
    outline-color: #fffb1f; 
    transform: scale(1.1); 
  }

  .ico-adresowo-error {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #c60000; 
    background-image: url('../img/adresowo-error.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-adresowo-error:hover {
    outline-color: #ff4242; 
    transform: scale(1.1); 
  }


  .ico-adresowo-inprogress {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #007387; 
    background-image: url('../img/adresowo-inprogress.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    animation: pulsate 1.5s infinite; /* Animacja pulsowania */
    transition: all 0.3s ease-in-out; /* Płynna zmiana na hover */
  }
  
  .ico-adresowo-inprogress:hover {
    animation: none; /* Zatrzymanie animacji */
    outline-color: #00e5ff; 
    transform: scale(1.1); 
  }


  .ico-adresowo-hold {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #4b5259; 
    background-image: url('../img/adresowo-hold.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-adresowo-hold:hover {
    outline-color: #aaaeb2; 
    transform: scale(1.1); 
  }
  
  
  /* facebookmarket active warning error inprogress hold */
.ico-facebookmarket-active {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #005e00; 
    background-image: url('../img/facebookmarket-active.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-facebookmarket-active:hover {
    outline-color: #02ff02; 
    transform: scale(1.1); 
  }

  .ico-facebookmarket-warning {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #ffbb00; 
    background-image: url('../img/facebookmarket-warning.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-facebookmarket-warning:hover {
    outline-color: #fffb1f; 
    transform: scale(1.1); 
  }

  .ico-facebookmarket-error {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #c60000; 
    background-image: url('../img/facebookmarket-error.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-facebookmarket-error:hover {
    outline-color: #ff4242; 
    transform: scale(1.1); 
  }


  .ico-facebookmarket-inprogress {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #007387; 
    background-image: url('../img/facebookmarket-inprogress.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    animation: pulsate 1.5s infinite; /* Animacja pulsowania */
    transition: all 0.3s ease-in-out; /* Płynna zmiana na hover */
  }
  
  .ico-facebookmarket-inprogress:hover {
    animation: none; /* Zatrzymanie animacji */
    outline-color: #00e5ff; 
    transform: scale(1.1); 
  }


  .ico-facebookmarket-hold {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #4b5259; 
    background-image: url('../img/facebookmarket-hold.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-facebookmarket-hold:hover {
    outline-color: #aaaeb2; 
    transform: scale(1.1); 
  }

  /* lento active warning error inprogress hold */
.ico-lento-active {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #005e00; 
    background-image: url('../img/lento-active.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-lento-active:hover {
    outline-color: #02ff02; 
    transform: scale(1.1); 
  }

  .ico-lento-warning {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #ffbb00; 
    background-image: url('../img/lento-warning.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-lento-warning:hover {
    outline-color: #fffb1f; 
    transform: scale(1.1); 
  }

  .ico-lento-error {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #c60000; 
    background-image: url('../img/lento-error.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-lento-error:hover {
    outline-color: #ff4242; 
    transform: scale(1.1); 
  }


  .ico-lento-inprogress {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #007387; 
    background-image: url('../img/lento-inprogress.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    animation: pulsate 1.5s infinite; /* Animacja pulsowania */
    transition: all 0.3s ease-in-out; /* Płynna zmiana na hover */
  }
  
  .ico-lento-inprogress:hover {
    animation: none; /* Zatrzymanie animacji */
    outline-color: #00e5ff; 
    transform: scale(1.1); 
  }


  .ico-lento-hold {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #4b5259; 
    background-image: url('../img/lento-hold.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-lento-hold:hover {
    outline-color: #aaaeb2; 
    transform: scale(1.1); 
  }


  /* otodom active warning error inprogress */
.ico-otodom-active {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #005e00; 
    background-image: url('../img/otodom-active.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-otodom-active:hover {
    outline-color: #02ff02; 
    transform: scale(1.1); 
  }

  .ico-otodom-warning {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #ffbb00; 
    background-image: url('../img/otodom-warning.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-otodom-warning:hover {
    outline-color: #fffb1f; 
    transform: scale(1.1); 
  }

  .ico-otodom-error {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #c60000; 
    background-image: url('../img/otodom-error.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-otodom-error:hover {
    outline-color: #ff4242; 
    transform: scale(1.1); 
  }


  .ico-otodom-inprogress {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #007387; 
    background-image: url('../img/otodom-inprogress.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    animation: pulsate 1.5s infinite; /* Animacja pulsowania */
    transition: all 0.3s ease-in-out; /* Płynna zmiana na hover */
  }
  
  .ico-otodom-inprogress:hover {
    animation: none; /* Zatrzymanie animacji */
    outline-color: #00e5ff; 
    transform: scale(1.1); 
  }


  /* allegro active warning error inprogress  */
.ico-allegro-active {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #005e00; 
    background-image: url('../img/allegro-active.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-allegro-active:hover {
    outline-color: #02ff02; 
    transform: scale(1.1); 
  }

  .ico-allegro-warning {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #ffbb00; 
    background-image: url('../img/allegro-warning.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-allegro-warning:hover {
    outline-color: #fffb1f; 
    transform: scale(1.1); 
  }

  .ico-allegro-error {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #c60000; 
    background-image: url('../img/allegro-error.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    transition: all 0.3s ease; /* Płynna zmiana */
    transform: scale(1); /* Początkowa skala */
  }
  
  .ico-allegro-error:hover {
    outline-color: #ff4242; 
    transform: scale(1.1); 
  }


.ico-allegro-inprogress {
    width: 15px;
    height: 15px;
    max-width: 15px;
    max-height: 15px;
    border-radius: 5%; 
    outline: 1px solid #007387; 
    background-image: url('../img/allegro-inprogress.png'); /* Tło z pliku */
    background-size: cover; /* Dopasowanie tła */
    background-position: center; /* Wyśrodkowanie tła */
    background-repeat: no-repeat; 
    animation: pulsate 1.5s infinite; /* Animacja pulsowania */
    transition: all 0.3s ease-in-out; /* Płynna zmiana na hover */
}
  
.ico-allegro-inprogress:hover {
    animation: none; /* Zatrzymanie animacji */
    outline-color: #00e5ff; /* Zmiana koloru obramowania na hover */
    transform: scale(1.1); /* Powiększenie na hover */
}

/* Definicja animacji pulsowania */
@keyframes pulsate {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}

.unix-log-style {
  list-style-type: none; /* Usuwa znaczniki listy */
  padding: 0;
  margin: 0;
  background-color: #1e1e1e; /* Ciemne tło w stylu dark mode */
  border-radius: 5px; /* Zaokrąglone rogi kontenera, dopasowane do klasy "rogi" */
  font-family: "Courier New", Courier, monospace; /* Monospace czcionka typowa dla logów */
  color: #c5c6c7; /* Dopasowany kolor tekstu */
  max-height: 300px; /* Ograniczona wysokość */
  overflow-y: auto; /* Pionowe przewijanie, jeśli jest za dużo logów */
}

.unix-log-style li {
  padding: 10px;
  border-bottom: 1px solid #333; /* Dodaje delikatną linię między logami */
  transition: all 0.3s ease; /* Płynne przejście na hover */
  cursor: pointer; /* Zmienia kursor na wskaźnik */
}

.unix-log-style li:last-child {
  border-bottom: none; /* Usuwa dolną linię dla ostatniego elementu */
}

.unix-log-style li:hover {
  background-color: #282828; /* Zmienia tło na ciemniejsze na hover */
  border: 1px solid #00e5ff; /* Dodaje podświetlenie na hover */
  border-radius: 5px; /* Dopasowuje rogi na hover */
  color: #fff; /* Zmienia kolor tekstu na biały na hover */
}

.chat-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 5px;
}

.chat-bubble {
  background-color: #212529;
  color: white;
  border-radius: 5px;
  padding: 7px;
  position: relative;
  margin-bottom: 10px;
}

.chat-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  border: 3px solid #212529;
  background-color: #44b7ff;
  font-size: small;
  color:#000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-username {
  font-weight: 650;
  margin-right: 50px;
  display: inline-block;
  font-size: 17px;
  color: #0098a9;
}

.chat-message-content {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 150;
  color: #c5c5c5;
}

.chat-message-date {
  font-size: 12px;
  color: #828282;
  position: absolute;
  bottom: 5px;
  margin-top: 5px;
  right: 10px;
}


.file-upload-wrapper {
  width: 100%;
  height: 30px;
  border: 1px dashed #bcc9ce;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  text-align: center;
  padding: 5px;
}

.file-upload-wrapper:hover {
  border-color: #646c70;
}

.file-upload-content {
  font-size: 10px;
  color: #a8a8a8;
}

.file-upload-wrapper i {
  font-size: 8px;
  color: #54bf02;
  margin-right: 10px;
}



.file-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-name {
  font-size: 8px;
  color: #00b3ff;
  display: inline-block;
}


.file-upload-wrapper:hover .file-name {
  color: #ffffff;
}

.file-upload-wrapper-lg {
  width: 100%;
  height: 30px;
  border: 1px dashed #bcc9ce;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  text-align: center;
  padding: 5px;
}

.file-upload-wrapper-lg:hover {
  border-color: #646c70;
}

.file-upload-content-lg {
  font-size: 12px;
  color: #a8a8a8;
}

.file-upload-wrapper-lg i {
  font-size: 13px;
  color: #54bf02;
  margin-right: 15px;
}

.file-input-lg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-name-lg {
  font-size: 13px;
  color: #00b3ff;
  display: inline-block;
}

.file-upload-wrapper-lg:hover .file-name-lg {
  color: #ffffff;
}

.file-upload-wrapper-xl {
  width: 100%;
  height: 40px; /* Zwiększona wysokość */
  border: 1px dashed #bcc9ce;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  text-align: center;
  padding: 10px; /* Zwiększone padding */
}

.file-upload-wrapper-xl:hover {
  border-color: #646c70;
}

.file-upload-content-xl {
  font-size: 16px; /* Zwiększony rozmiar fontu */
  color: #a8a8a8;
}

.file-upload-wrapper-xl i {
  font-size: 18px; /* Zwiększony rozmiar ikony */
  color: #54bf02;
  margin-right: 20px; /* Większy margines */
}

.file-input-xl {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-name-xl {
  font-size: 16px; /* Zwiększony rozmiar fontu */
  color: #00b3ff;
  display: inline-block;
}

.file-upload-wrapper-xl:hover .file-name-xl {
  color: #ffffff;
}

.offcanvas-top-logo-sm {
  margin-top: 12px;
  margin-left: 13px;
  margin-bottom: 10px;
  margin-right: 100px;
}

.flex-container-sm {
  display: flex;
  /* justify-content: space-between;
  align-items: center; */
  width: 100%;
}

.logo-sm {
  flex-grow: 1; /* Rozciąga logo na całą dostępną przestrzeń */
}

.user-info-sm {
  margin-right: 25px;
  white-space: nowrap; /* Zapobiega łamaniu się tekstu */
  text-align: right;
  font-size: 12px;
  color: #6d6d6d;
}

