<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DMD Panel Administratora{% endblock %}</title>
    <!-- Dodanie Bootstrapa -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Dodanie Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Dodatkowe stylizacje -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js"></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% block scripts%}{% endblock %}
    <link rel="preload" href="../static/img/logo_domy.png" as="image">
    <link rel="preload" href="../static/img/logo_budownictwo.png" as="image">
    <link rel="preload" href="../static/img/logo_elitehome.png" as="image">
    <link rel="preload" href="../static/img/logo_instalacje.png" as="image">
    <link rel="preload" href="../static/img/logo_investment.png" as="image">
    <link rel="preload" href="../static/img/logo_development.png" as="image">

</head>
<body>
    {% block header %}
    <!-- d-block d-sm-none tylko na średnim sm+ -->
    <div class="d-block d-sm-none">
        <div class="offcanvas offcanvas-top oc-height jasne" tabindex="-1" id="offcanvasTop_sm" aria-labelledby="offcanvasTopLabel_sm">
            <div class="offcanvas-top-logo-sm flex-container-sm">
                <!-- Logo -->
                <div class="logo-sm">
                    <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop_sm" aria-controls="offcanvasTop_sm">
                        <img 
                            src="../static/img/logotypy_dmd_domy.png" 
                            alt="DMD" 
                            style="max-height: 22px;"/>
                    </a>
                </div>
            
                <!-- Informacja o zalogowanym użytkowniku -->
                <div class="user-info-sm">
                    Zalogowany jako: <span style="color: #61ff59">@</span>{{username}}
                    <a href="/logout">
                        <i class="bi bi-door-closed" style="color: #e32828"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
    <div class="d-none d-sm-block d-lg-none">
        <div class="offcanvas offcanvas-top oc-height jasne" tabindex="-1" id="offcanvasTop_lg" aria-labelledby="offcanvasTopLabel_lg">
            
            <!-- Górny pasek nawigacji Bootstrapa -->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top p-3 dropdown-menu-dark">
                <a class="navbar-brand" href="#" data-bs-dismiss="offcanvas" aria-label="Close">
                    <img 
                        src="../static/img/logotypy_dmd_domy.png" 
                        alt="DMD" style="padding-right: 10px; max-height: 35px;"/>
                    
                    Panel Administratora
                </a>
                <div class="bg-dark">
                    <div class="input-group mb-3" style="margin-top: 10px;">
                        <input type="text" class="form-control bg-dark" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" placeholder="Wyszukaj" aria-label="Wyszukaj" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary bg-dark" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" type="button" id="button-addon2">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
                <div class="przyklejone-divy">
                    <div class="klej">
                        <div class="formatuj-maly-logout">
                            Zalogowany jako: <span style="color: #61ff59"><i class="bi bi-person-circle"></i> {{username}}</span>
                        </div> 
                        <div class="formatuj">
                            <a href="/logout">
                                Wyloguj się
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            
            <div class="no-alpha" style="margin-top: 85px;">
                <div class="tylko-klej">
                    <div class="card formatuj-margin bg-dark">
                        <div class="card-body klej">
                            <div class="column-usual formatuj-maly-font">
                                <img src="../static/img/logo_domy.png" style="max-width: 150px; margin-bottom: 5px;" alt="Domy Logo" loading="lazy" fetchpriority="high"/>
                                <p><strong>Twój dom, Twoje marzenie, nasza pasja!</strong> </p>
                            </div>
                            <div class="formatuj-right formatuj-margin column-id">
                                <button type="submit" class="btn btn-outline-success btn-sm" style="max-height: 30px; font-size: 12px;" onclick="window.location.href='{{domy}}'">Sprawdź</button>
                            </div>
                        </div>
                    </div>
                    <div class="card formatuj-margin bg-dark">
                        <div class="card-body klej">
                            <div class="column-usual formatuj-maly-font">
                                <img src="../static/img/logo_budownictwo.png" style="max-width: 150px; margin-bottom: 5px;" alt="Budownictwo Logo" loading="lazy" fetchpriority="high"/>
                                <p><strong>Budujemy jutro już dzisiaj!</strong></p>
                            </div>
                            <div class="formatuj-right formatuj-margin column-id">
                                <button type="submit" class="btn btn-outline-success btn-sm" style="max-height: 30px; font-size: 12px;" onclick="window.location.href='{{budownictwo}}'">Sprawdź</button>
                            </div>
                        </div>
                    </div>          
                </div>
                <div class="tylko-klej">
                    <div class="card formatuj-margin bg-dark">
                        <div class="card-body klej">
                            <div class="column-usual formatuj-maly-font">
                                <img src="../static/img/logo_elitehome.png" style="max-width: 150px; margin-bottom: 5px;" alt="EliteHome Logo" loading="lazy" fetchpriority="high"/>
                                <p><strong>Indywidualne podejście, Twój wymarzony świat!</strong></p>
                            </div>
                            <div class="formatuj-right formatuj-margin column-id">
                                <button type="submit" class="btn btn-outline-success btn-sm" style="max-height: 30px; font-size: 12px;" onclick="window.location.href='{{elitehome}}'">Sprawdź</button>
                            </div>
                        </div>
                    </div>
                    <div class="card formatuj-margin bg-dark">
                        <div class="card-body klej">
                            <div class="column-usual formatuj-maly-font">
                                <img src="../static/img/logo_instalacje.png" style="max-width: 150px; margin-bottom: 5px;" alt="Instalacje Logo" loading="lazy" fetchpriority="high"/>
                                <p><strong>Bezpieczeństwo i efektywność!</strong></p>
                            </div>
                            <div class="formatuj-right formatuj-margin column-id">
                                <button type="submit" class="btn btn-outline-success btn-sm" style="max-height: 30px; font-size: 12px;" onclick="window.location.href='{{instalacje}}'">Sprawdź</button>
                            </div>
                        </div>
                    </div>          
                </div>
                <div class="tylko-klej">
                    <div class="card formatuj-margin bg-dark">
                        <div class="card-body klej">
                            <div class="column-usual formatuj-maly-font">
                                <img src="../static/img/logo_investment.png" style="max-width: 150px; margin-bottom: 5px;" alt="Inwestycje Logo" loading="lazy" fetchpriority="high"/>
                                <p><strong>Inwestycja z myślą o jutrze!</strong></p>
                            </div>
                            <div class="formatuj-right formatuj-margin column-id">
                                <button type="submit" class="btn btn-outline-success btn-sm" style="max-height: 30px; font-size: 12px;" onclick="window.location.href='{{inwestycje}}'">Sprawdź</button>
                            </div>
                        </div>
                    </div>
                    <div class="card formatuj-margin bg-dark">
                        <div class="card-body klej">
                            <div class="column-usual formatuj-maly-font">
                                <img src="../static/img/logo_development.png" style="max-width: 150px; margin-bottom: 5px;" alt="Development Logo" loading="lazy" fetchpriority="high"/>
                                <p><strong>Inwestycje na Twoją miarę!</strong></p>
                            </div>
                            <div class="formatuj-right formatuj-margin column-id">
                                <button type="submit" class="btn btn-outline-success btn-sm" style="max-height: 30px; font-size: 12px;" onclick="window.location.href='{{development}}'">Sprawdź</button>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </div>
    </div>
    <!-- d-none d-xl-block tylko na pełnym xl+ -->
    <div class="d-none d-lg-block">
        <div class="offcanvas offcanvas-top oc-height jasne" tabindex="-1" id="offcanvasTop_xl" aria-labelledby="offcanvasTopLabel_xl">
            
            <!-- Górny pasek nawigacji Bootstrapa -->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top p-3 dropdown-menu-dark">
                <a class="navbar-brand" href="#" data-bs-dismiss="offcanvas" aria-label="Close">
                    <img 
                        src="../static/img/logotypy_dmd_domy.png" 
                        alt="DMD" style="padding-right: 10px; max-height: 35px;"/>
                    
                    Panel Administratora
                </a>
                <div class="bg-dark">
                    <div class="input-group mb-3" style="margin-top: 10px;">
                        <input type="text" class="form-control bg-dark" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" placeholder="Wyszukaj" aria-label="Wyszukaj" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary bg-dark" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" type="button" id="button-addon2">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
                <div class="przyklejone-divy">
                    <div class="klej">
                        <div class="formatuj-maly-logout">
                            Zalogowany jako: <span style="color: #61ff59"><i class="bi bi-person-circle"></i> {{username}}</span>
                        </div> 
                        <div class="formatuj">
                            <a href="/logout">
                                Wyloguj się
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            
            <div class="no-alpha" style="margin-top: 85px;">
                <div class="tylko-klej">
                    <div class="card formatuj-margin bg-dark">
                        <div class="card-body klej">
                            <div class="column-usual formatuj-maly-font">
                                <img src="../static/img/logo_domy.png" style="max-width: 150px; margin-bottom: 5px;" alt="Domy Logo" loading="lazy" fetchpriority="high"/>
                                <p><strong>Twój dom, Twoje marzenie, nasza pasja!</strong><br />
                                    Sprawdzone technologie, solidne wykonanie. </p>
                            </div>
                            <div class="formatuj-right formatuj-margin column-id">
                                <button type="submit" class="btn btn-outline-success btn-sm" style="max-height: 30px; font-size: 12px;" onclick="window.location.href='{{domy}}'">Sprawdź</button>
                            </div>
                        </div>
                    </div>
                    <div class="card formatuj-margin bg-dark">
                        <div class="card-body klej">
                            <div class="column-usual formatuj-maly-font">
                                <img src="../static/img/logo_budownictwo.png" style="max-width: 150px; margin-bottom: 5px;" alt="Budownictwo Logo" loading="lazy" fetchpriority="high"/>
                                <p><strong>Budujemy jutro już dzisiaj!</strong><br />
                                Projekty budowlane na miarę Twoich ambicji, od domów po hale! </p>
                            </div>
                            <div class="formatuj-right formatuj-margin column-id">
                                <button type="submit" class="btn btn-outline-success btn-sm" style="max-height: 30px; font-size: 12px;" onclick="window.location.href='{{budownictwo}}'">Sprawdź</button>
                            </div>
                        </div>
                    </div>          
                </div>
                <div class="tylko-klej">
                    <div class="card formatuj-margin bg-dark">
                        <div class="card-body klej">
                            <div class="column-usual formatuj-maly-font">
                                <img src="../static/img/logo_elitehome.png" style="max-width: 150px; margin-bottom: 5px;" alt="EliteHome Logo" loading="lazy" fetchpriority="high"/>
                                <p><strong>Indywidualne podejście, Twój wymarzony świat!</strong><br />
                                    Spełniamy marzenia z pasją i zaangażowaniem. </p>
                            </div>
                            <div class="formatuj-right formatuj-margin column-id">
                                <button type="submit" class="btn btn-outline-success btn-sm" style="max-height: 30px; font-size: 12px;" onclick="window.location.href='{{elitehome}}'">Sprawdź</button>
                            </div>
                        </div>
                    </div>
                    <div class="card formatuj-margin bg-dark">
                        <div class="card-body klej">
                            <div class="column-usual formatuj-maly-font">
                                <img src="../static/img/logo_instalacje.png" style="max-width: 150px; margin-bottom: 5px;" alt="Instalacje Logo" loading="lazy" fetchpriority="high"/>
                                <p><strong>Bezpieczeństwo i efektywność!</strong><br />
                                    Z nami wnętrza i otoczenie zyskują nowy wymiar. </p>
                            </div>
                            <div class="formatuj-right formatuj-margin column-id">
                                <button type="submit" class="btn btn-outline-success btn-sm" style="max-height: 30px; font-size: 12px;" onclick="window.location.href='{{instalacje}}'">Sprawdź</button>
                            </div>
                        </div>
                    </div>          
                </div>
                <div class="tylko-klej">
                    <div class="card formatuj-margin bg-dark">
                        <div class="card-body klej">
                            <div class="column-usual formatuj-maly-font">
                                <img src="../static/img/logo_investment.png" style="max-width: 150px; margin-bottom: 5px;" alt="Inwestycje Logo" loading="lazy" fetchpriority="high"/>
                                <p><strong>Inwestycja z myślą o jutrze!</strong><br />
                                    Tworzymy wartość dla Ciebie i społeczności. </p>
                            </div>
                            <div class="formatuj-right formatuj-margin column-id">
                                <button type="submit" class="btn btn-outline-success btn-sm" style="max-height: 30px; font-size: 12px;" onclick="window.location.href='{{inwestycje}}'">Sprawdź</button>
                            </div>
                        </div>
                    </div>
                    <div class="card formatuj-margin bg-dark">
                        <div class="card-body klej">
                            <div class="column-usual formatuj-maly-font">
                                <img src="../static/img/logo_development.png" style="max-width: 150px; margin-bottom: 5px;" alt="Development Logo" loading="lazy" fetchpriority="high"/>
                                <p><strong>Inwestycje na Twoją miarę!</strong><br />
                                    Budujemy, wynajmujemy i dzierżawimy, spełniając Twoje oczekiwania!  </p>
                            </div>
                            <div class="formatuj-right formatuj-margin column-id">
                                <button type="submit" class="btn btn-outline-success btn-sm" style="max-height: 30px; font-size: 12px;" onclick="window.location.href='{{development}}'">Sprawdź</button>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <div class="container-fluid">
        <main role="main" class="col-md-auto ml-sm-auto col-lg-auto px-md-auto main-content">
            <div class="mainContainer">

                <!-- Navbar -->
                <ul class="nav nav-tabs">
                    <li class="nav-item ">
                        {% block navbarTitle %}
                            <!-- d-block d-sm-none tylko na średnim sm+ -->
                            <div class="d-block d-sm-none mt-2">
                                <div class="tylko-klej">
                                    <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop_sl" aria-controls="offcanvasTop_sl">
                                        <img 
                                            src="../static/img/logotypy_dmd_domy.png" 
                                            alt="DMD" 
                                            style="margin-left: 2px !important; padding-right: 10px; max-height: 30px;"/>
                                    </a>
                                    <a 
                                      class="nav-link active dark-mode" 
                                      style="max-height: 30px; font-size: 12px; font-weight: 100;"
                                      aria-current="page" 
                                      href="#">
                                        Użytkownicy
                                    </a>
                                </div>
                            </div>
                            <!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
                            <div class="d-none d-sm-block d-lg-none mt-2">
                                <div class="tylko-klej">
                                    <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop_lg" aria-controls="offcanvasTop_lg">
                                        <img 
                                            src="../static/img/logotypy_dmd_domy.png" 
                                            alt="DMD" 
                                            style="margin-left: 5px !important; padding-right: 10px; max-height: 40px;"
                                            />
                                    </a>
                                    <a 
                                      class="nav-link active dark-mode" 
                                      aria-current="page" 
                                      style="max-height: 40px; font-size: 15px; font-weight: 100;"
                                      href="#">
                                        Użytkownicy
                                    </a>
                                </div>
                            </div>
                            <!-- d-none d-xl-block tylko na pełnym xl+ -->
                            <div class="d-none d-lg-block mt-2">
                                <div class="tylko-klej">
                                    <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop_xl" aria-controls="offcanvasTop_xl">
                                        <img 
                                            src="../static/img/logotypy_dmd_domy.png" 
                                            alt="DMD" 
                                            style="margin-left: 10px !important; padding-right: 10px; max-height: 50px;"/>
                                    </a>
                                    <a 
                                    class="nav-link active dark-mode" 
                                    aria-current="page" 
                                    href="#">
                                        Użytkownicy
                                    </a>
                                </div>
                            </div>
                        
                        {% endblock %}
                    </li>
                    <!-- d-block d-sm-none tylko na średnim sm+ -->
                    <div class="d-block d-sm-none mt-2">
                        <li class="nav-item dropdown" style="margin-left: 2px;">
                            <a 
                            class="nav-link dropdown-toggle link-light dark-mode" 
                            data-bs-toggle="dropdown" href="#" 
                            style="max-height: 29px; font-size: 12px; font-weight: 100;"
                            role="button" aria-expanded="true">Opcje</a>
    
                            <ul class="dropdown-menu dark-mode">
                                <li><a class="dropdown-item" href="/home" style="max-height: 25px; font-size: 12px; font-weight: 100;">Strona Główna</a></li>
                                <li><hr class="dropdown-divider"></li>
                                {% if userperm['users'] == 1 %}
                                    <li><a class="dropdown-item" href="/user" style="max-height: 25px; font-size: 12px; font-weight: 100;">Zarządzaj Użytkownikami</a></li>
                                {% endif %}
                                {% if userperm['blog'] == 1 %}
                                    <li><a class="dropdown-item" href="/blog" style="max-height: 25px; font-size: 12px; font-weight: 100;">Zarządzaj Blogiem</a></li>
                                {% endif %}
                                {% if userperm['newsletter'] == 1 %}
                                    <li><a class="dropdown-item" href="/newsletter" style="max-height: 25px; font-size: 12px; font-weight: 100;">Zarządzaj Newsletterem</a></li>
                                {% endif %}
                                {% if userperm['subscribers'] == 1 %}
                                    <li><a class="dropdown-item" href="/subscriber" style="max-height: 25px; font-size: 12px; font-weight: 100;">Zarządzaj Subskrybentami</a></li>
                                {% endif %}
                                {% if userperm['team'] == 1 %}    
                                    <li><a class="dropdown-item" href="/team-domy" style="max-height: 25px; font-size: 12px; font-weight: 100;">Zarządzaj Kadrą</a></li>
                                {% endif %}
                                {% if userperm['career'] == 1 %}    
                                    <li><a class="dropdown-item" href="/career" style="max-height: 25px; font-size: 12px; font-weight: 100;">Zarządzaj Karierą</a></li>
                                {% endif %}
                                {% if userperm['estate'] == 1 %}
                                    <li><a class="dropdown-item" href="/estate-ads-rent" style="max-height: 25px; font-size: 12px; font-weight: 100;">Zarządzaj Ogłoszeniami</a></li>
                                {% endif %}
                                {% if userperm['fbhidden'] == 1 %}
                                    <li><a class="dropdown-item" href="/hidden-campaigns" style="max-height: 25px; font-size: 12px; font-weight: 100;">Zarządzaj Kampaniami</a></li>
                                {% endif %}
                                {% if userperm['settings'] == 1 %} 
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/setting" style="max-height: 30px; font-size: 12px; font-weight: 100;">Ustawienia</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </div>
                    <!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
                    <div class="d-none d-sm-block d-lg-none mt-2">
                        <li class="nav-item dropdown" style="margin-left: 2px;">
                            <a 
                                class="nav-link dropdown-toggle link-light dark-mode" 
                                data-bs-toggle="dropdown" href="#" role="button" 
                                style="max-height: 40px; font-size: 15px; font-weight: 100;"
                                aria-expanded="true">
                                Opcje
                            </a>
    
                            <ul class="dropdown-menu dark-mode">
                                <li><a class="dropdown-item" href="/home" style="max-height: 30px; font-size: 15px; font-weight: 100;">Strona Główna</a></li>
                                <li><hr class="dropdown-divider"></li>
                                {% if userperm['users'] == 1 %}
                                    <li><a class="dropdown-item" href="/user" style="max-height: 30px; font-size: 15px; font-weight: 100;">Zarządzaj Użytkownikami</a></li>
                                {% endif %}
                                {% if userperm['blog'] == 1 %}
                                    <li><a class="dropdown-item" href="/blog" style="max-height: 30px; font-size: 15px; font-weight: 100;">Zarządzaj Blogiem</a></li>
                                {% endif %}
                                {% if userperm['newsletter'] == 1 %}
                                    <li><a class="dropdown-item" href="/newsletter" style="max-height: 30px; font-size: 15px; font-weight: 100;">Zarządzaj Newsletterem</a></li>
                                {% endif %}
                                {% if userperm['subscribers'] == 1 %}
                                    <li><a class="dropdown-item" href="/subscriber" style="max-height: 30px; font-size: 15px; font-weight: 100;">Zarządzaj Subskrybentami</a></li>
                                {% endif %}
                                {% if userperm['team'] == 1 %}    
                                    <li><a class="dropdown-item" href="/team-domy" style="max-height: 30px; font-size: 15px; font-weight: 100;">Zarządzaj Kadrą</a></li>
                                {% endif %}
                                {% if userperm['career'] == 1 %}    
                                    <li><a class="dropdown-item" href="/career" style="max-height: 30px; font-size: 15px; font-weight: 100;">Zarządzaj Karierą</a></li>
                                {% endif %}
                                {% if userperm['estate'] == 1 %}
                                    <li><a class="dropdown-item" href="/estate-ads-rent" style="max-height: 30px; font-size: 15px; font-weight: 100;">Zarządzaj Ogłoszeniami</a></li>
                                {% endif %}
                                {% if userperm['fbhidden'] == 1 %}
                                    <li><a class="dropdown-item" href="/hidden-campaigns" style="max-height: 30px; font-size: 15px; font-weight: 100;">Zarządzaj Kampaniami</a></li>
                                {% endif %}
                                {% if userperm['settings'] == 1 %} 
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/setting" style="max-height: 30px; font-size: 15px; font-weight: 100;">Ustawienia</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </div>
                    <!-- d-none d-xl-block tylko na pełnym xl+ -->
                    <div class="d-none d-lg-block mt-2">
                        <li class="nav-item dropdown" style="margin-left: 2px;">
                            <a 
                                class="nav-link dropdown-toggle link-light dark-mode" 
                                data-bs-toggle="dropdown" href="#" role="button" 
                                style="max-height: 45px; font-size: 20px; font-weight: 100;"
                                aria-expanded="true">
                                Opcje
                            </a>
    
                            <ul class="dropdown-menu dark-mode">
                                <li><a class="dropdown-item" href="/home" style="max-height: 35px; font-size: 20px; font-weight: 100;">Strona Główna</a></li>
                                <li><hr class="dropdown-divider"></li>
                                {% if userperm['users'] == 1 %}
                                    <li><a class="dropdown-item" href="/user" style="max-height: 35px; font-size: 20px; font-weight: 100;">Zarządzaj Użytkownikami</a></li>
                                {% endif %}
                                {% if userperm['blog'] == 1 %}
                                    <li><a class="dropdown-item" href="/blog" style="max-height: 35px; font-size: 20px; font-weight: 100;">Zarządzaj Blogiem</a></li>
                                {% endif %}
                                {% if userperm['newsletter'] == 1 %}
                                    <li><a class="dropdown-item" href="/newsletter" style="max-height: 35px; font-size: 20px; font-weight: 100;">Zarządzaj Newsletterem</a></li>
                                {% endif %}
                                {% if userperm['subscribers'] == 1 %}
                                    <li><a class="dropdown-item" href="/subscriber" style="max-height: 35px; font-size: 20px; font-weight: 100;">Zarządzaj Subskrybentami</a></li>
                                {% endif %}
                                {% if userperm['team'] == 1 %}    
                                    <li><a class="dropdown-item" href="/team-domy" style="max-height: 35px; font-size: 20px; font-weight: 100;">Zarządzaj Kadrą</a></li>
                                {% endif %}
                                {% if userperm['career'] == 1 %}    
                                    <li><a class="dropdown-item" href="/career" style="max-height: 35px; font-size: 20px; font-weight: 100;">Zarządzaj Karierą</a></li>
                                {% endif %}
                                {% if userperm['estate'] == 1 %}
                                    <li><a class="dropdown-item" href="/estate-ads-rent" style="max-height: 35px; font-size: 20px; font-weight: 100;">Zarządzaj Ogłoszeniami</a></li>
                                {% endif %}
                                {% if userperm['fbhidden'] == 1 %}
                                    <li><a class="dropdown-item" href="/hidden-campaigns" style="max-height: 35px; font-size: 20px; font-weight: 100;">Zarządzaj Kampaniami</a></li>
                                {% endif %}
                                {% if userperm['settings'] == 1 %} 
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/setting" style="max-height: 35px; font-size: 20px; font-weight: 100;">Ustawienia</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </div>
                    
                    {% block addButton %}
                    <!-- d-block d-sm-none tylko na średnim sm+ -->
                    <div class="d-block d-sm-none mt-2">
                        <li style="margin-left: 10px;">
                            <a href="#">
                                <i class="bi bi-plus-square-fill" style="font-size: 12px; color: #17d117 !important;"></i>
                            </a>
                        </li>
                    </div>
                    <!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
                    <div class="d-none d-sm-block d-lg-none mt-2">
                        <li style="margin-left: 12px;">
                            <a href="#">
                                <i class="bi bi-plus-square-fill" style="font-size: 15px; color: #17d117 !important;"></i>
                            </a>
                        </li>
                    </div>
                    <!-- d-none d-xl-block tylko na pełnym xl+ -->
                    <div class="d-none d-lg-block mt-2">
                        <li style="margin-left: 15px;">
                            <a href="#">
                                <i class="bi bi-plus-square-fill" style="font-size: 20px; color: #17d117 !important;"></i>
                            </a>
                        </li>
                    </div>
                    {% endblock %}
                </ul>
                <div class="table-creator">
                    <!-- Kod do wyświetlania flash messages -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            <div>
                                {% for category, message in messages %}
                                    <div class="alert alert-{{ category }} rogi table-creator formatuj-maly-font">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <!-- linia headera tabeli -->
                    {% block tableHeader %} {% endblock %}
                    {% block tableContent%} {% endblock %}
                </div>
            </div>
        </main>
    </div>
<!-- Stopka z trybem ciemnym i przyciskiem wylogowania -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        {% block footer %}{% endblock %}
      </div>
    </div>
  </footer>
  {% block bottom_script %}{% endblock %}
  
</body>