{% extends 'base.html' %}

{% block title %}DMD Panel Administratora - Zarządzanie Ogłoszeniami{% endblock %}

{% block addButton %}
<!-- d-block d-sm-none tylko na średnim sm+ -->
<div class="d-block d-sm-none mt-2">
    <!-- dropdown -->
    <div class="dropdown">
        <button 
            class="nav-link dropdown-toggle link-light dark-mode" 
            type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" 
            style="max-height: 29px; font-size: 20px;"
            aria-expanded="false">
            <i class="bi bi-bricks" style="color: #12dcef; position: relative; top: -10px;"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            <li><a class="estate_button dropdown-item active" href="/estate-development" style="max-height: 29px; font-size: 12px; font-weight: 100;">Wiśniowa House</a></li>
        </ul>
    </div>
    <!-- dropdown END -->
</div>
<!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
<div class="d-none d-sm-block d-lg-none mt-2">
    <!-- dropdown -->
    <div class="dropdown">
        <button 
            class="nav-link dropdown-toggle link-light dark-mode" type="button" 
            style="max-height: 40px; font-size: 15px; font-weight: 100;"
            id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Wiśniowa
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            <li><a class="estate_button dropdown-item active" href="/estate-development" style="max-height: 40px; font-size: 15px; font-weight: 100;">Wiśniowa House</a></li>
        </ul>
    </div>
    <!-- dropdown END -->
</div>
<!-- d-none d-xl-block tylko na pełnym xl+ -->
<div class="d-none d-lg-block mt-2">
    <!-- dropdown -->
    <div class="dropdown">
        <button 
            class="nav-link dropdown-toggle link-light dark-mode" 
            style="max-height: 45px; font-size: 20px; font-weight: 100;"
            type="button" id="dropdownMenuButton2" 
            data-bs-toggle="dropdown" aria-expanded="false">
            Wiśniowa House
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            <li><a class="estate_button dropdown-item active" href="/estate-development" style="max-height: 45px; font-size: 20px; font-weight: 100;">Wiśniowa House</a></li>
        </ul>
    </div>
    <!-- dropdown END -->
</div>

{% endblock %}
{% block navbarTitle %}
<!-- d-block d-sm-none tylko na średnim sm+ -->
<div class="d-block d-sm-none mt-2">
    <div style="display: flex; justify-content: space-between;">
        <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop_sm" aria-controls="offcanvasTop_sm">
            <img 
                src="../static/img/logotypy_dmd_domy.png" 
                alt="DMD" 
                style="margin-left: 2px !important; padding-right: 10px; max-height: 22px;"/>
        </a>
    </div>
</div>
<!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
<div class="d-none d-sm-block d-lg-none mt-2">
    <div style="display: flex; justify-content: space-between;">
        <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop_lg" aria-controls="offcanvasTop_lg">
            <img 
                src="../static/img/logotypy_dmd_domy.png" 
                alt="DMD" 
                style="margin-left: 5px !important; padding-right: 10px; max-height: 35px;"
                />
        </a>
        <a 
            class="nav-link active dark-mode" 
            aria-current="page" 
            style="max-height: 40px; font-size: 15px; font-weight: 100;"
            href="#">
            Wiśniowa
        </a>
    </div>
</div>
<!-- d-none d-xl-block tylko na pełnym xl+ -->
<div class="d-none d-lg-block mt-2">
    <div style="display: flex; justify-content: space-between;">
        <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop_xl" aria-controls="offcanvasTop_xl">
            <img 
                src="../static/img/logotypy_dmd_domy.png" 
                alt="DMD" 
                style="margin-left: 10px !important; padding-right: 10px; max-height: 40px;"/>
        </a>
        <a 
            class="nav-link active dark-mode" 
            aria-current="page" 
            style="max-height: 45px; font-size: 20px; font-weight: 100;"
            href="#">
            Wiśniowa House
        </a>
    </div>
</div>
{% endblock %}

{% block tableHeader %}
                        <div>
                            <div class="row klej formatuj-header">
                                <div class="d-none d-lg-block" style="max-width: 30px;">#</div>
                                <div class="col-xl-4 col-lg-6 col-sm-8">Lokal (nazwa / typ)</div>
                                <div class="d-none d-lg-block" style="max-width: 120px;">Status</div>
                                <div class="d-none d-xl-block" style="max-width: 250px;">Operator</div>
                                <div class="d-none d-lg-block" style="max-width: 150px;">Data aktualizacji</div>
                                <div class="text-end" style="max-width: 80px;"><i class="bi bi-person-gear"></i> Akcja</div>
                            </div>
                        </div>
{% endblock %}
{% block tableContent%}

                        {% for post_data in lokale %}
                            {% set post_id  = post_data.id %}
                        <!-- linia contentu tabeli ciemna-->
                        <div>
                            <div class="row klej {% if loop.index is even %}formatuj-light-line{% else %}formatuj-dark-line{% endif %}" >
                                <div class="d-none d-lg-block formatuj-maly-font" style="max-width: 30px;" data-bs-toggle="collapse" href="#collapse_id_{{post_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{post_id}}">
                                    {{post_id}}
                                </div>
                                <!-- enum('dostepny','rezerwacja','sprzedane') -->
                                <div class="d-lg-none" style="max-width: 30px;" data-bs-toggle="collapse" href="#collapse_id_{{post_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{post_id}}">
                                    {% if post_data.status_lokalu == 'dostepny' %}
                                        <span class="d-block d-lg-none formatuj-maly-font"> <i class="bi bi-lightbulb-fill text-info"></i></span>
                                    {% elif post_data.status_lokalu == 'rezerwacja' %}
                                        <span class="d-block d-lg-none formatuj-maly-font"> <i class="bi bi-lightbulb-fill text-warning"></i></span>
                                    {% else %}
                                        <span class="d-block d-lg-none formatuj-maly-font"> <i class="bi bi-lightbulb-fill text-secondary"></i></span>
                                    {% endif %}
                                </div>
                                <div  class="col-xl-8 col-md-8 col-sm-10 formatuj-maly-font" data-bs-toggle="collapse" href="#collapse_id_{{post_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{post_id}}">
                                    <a data-bs-toggle="collapse" href="#collapse_id_{{post_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{post_id}}">
                                        {{post_data.nazwa}} - {{post_data.id_lokalu}} / {{post_data.typ_zabudowy}}
                                    </a>
                                </div>
                                
                                <div  class="d-none d-lg-block" style="max-width: 120px;" data-bs-toggle="collapse" href="#collapse_id_{{post_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{post_id}}">
                                    <a data-bs-toggle="collapse" href="#collapse_id_{{post_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{post_id}}">
                                        {% if post_data.status_lokalu == 'dostepny' %}
                                            <span class="text-info">Aktywna</span>
                                        {% elif post_data.status_lokalu == 'rezerwacja' %}
                                            <span class="text-warning">Zarezerwowana</span>
                                        {% elif post_data.status_lokalu == 'sprzedane' %}
                                            <span class="text-secondary">Sfinalizowana</span>
                                        {% endif %}
                                    </a>
                                </div>
                                <div  class="d-none d-xl-block" style="max-width: 250px;" data-bs-toggle="collapse" href="#collapse_id_{{post_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{post_id}}">
                                    {% if post_data.kto_aktualizowal %}
                                    <a data-bs-toggle="collapse" href="#collapse_id_{{post_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{post_id}}">
                                        <span class="text-secondary formatuj-maly-font">{{post_data.kto_aktualizowal}}</span>
                                    </a>
                                    {% else %}
                                    <a data-bs-toggle="collapse" href="#collapse_id_{{post_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{post_id}}">
                                        <span class="text-secondary">Brak</span>
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="d-none d-lg-block" style="max-width: 150px;" data-bs-toggle="collapse" href="#collapse_id_{{post_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{post_id}}">
                                    <a data-bs-toggle="collapse" href="#collapse_id_{{post_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{post_id}}">
                                        <span class="display-6 formatuj-maly-font">{{post_data.data_aktualizacji}}</span>
                                    </a>
                                </div>
                                <div class="text-end" style="max-width: 80px;">
                                    <a data-bs-toggle="collapse" href="#collapse_id_{{post_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{post_id}}"><i class="bi bi-chevron-double-down" style="color: rgb(89, 176, 90) !important;"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- collapse start -->
                        <div class="sub-panel rogi collapse formatyj-maly-wiersz p-2" id="collapse_id_{{post_id}}">
                            <div class="row">
                                <div class="col-lg-4 col-sm-12">
                                    <img src="https://dmddomy.pl/images/project/bl-01-750x430-Oszust-1.png" alt="" class="img-thumbnail object-fit-cover rounded bg-dark mb-2" >
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <h5>{{post_data.nazwa}}</h5>
                                    <p>{{post_data.opis}}</p>
                                    <p class="h5"><i class="bi bi-database-fill-check text-warning"></i> {{post_data.cena_wyjsciowa}} PLN</p>
                                    {% if post_data.status_lokalu == 'dostepny' %}
                                        <button 
                                            type="button" 
                                            class="btn btn-outline-warning btn-sm mt-2" 
                                            style="max-height: 30px; font-size: 12px;" 
                                            data-bs-toggle="collapse" 
                                            href="#collapse_id_reseved_{{post_id}}" 
                                            role="button" aria-expanded="false" 
                                            aria-controls="collapse_id_reseved_{{post_id}}">
                                            Zarezerwuj
                                        </button>
                                    {% elif post_data.status_lokalu == 'rezerwacja' %}
                                        <button 
                                            type="button" 
                                            class="btn btn-outline-info btn-sm mt-2" 
                                            style="max-height: 30px; font-size: 12px;" 
                                            data-bs-toggle="collapse" 
                                            href="#collapse_id_cancel_{{post_id}}" 
                                            role="button" aria-expanded="false" 
                                            aria-controls="collapse_id_cancel_{{post_id}}">
                                            Anuluj rezerwację
                                        </button>
                                    {% elif post_data.status_lokalu == 'sprzedane' %}
                                        <button 
                                            type="button" 
                                            class="btn btn-outline-danger btn-sm mt-2" 
                                            style="max-height: 30px; font-size: 12px;" 
                                            data-bs-toggle="collapse" 
                                            href="#collapse_id_remove_sell_{{post_id}}" 
                                            role="button" aria-expanded="false" 
                                            aria-controls="collapse_id_remove_sell_{{post_id}}">
                                            Wymów sprzedaż
                                        </button>
                                    {% endif %}
                                    
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="collapse" style="max-width: 400px;" id="collapse_id_reseved_{{post_id}}">
                                        Rezerwacja Lokalu {{post_data.id_lokalu}} / {{post_data.typ_zabudowy}}
                                    </div>
                                    <div class="collapse" style="max-width: 400px;" id="collapse_id_cancel_{{post_id}}">
                                        Anuluj rezerwację Lokalu {{post_data.id_lokalu}} / {{post_data.typ_zabudowy}}
                                    </div>
                                    <div class="collapse" style="max-width: 400px;" id="collapse_id_remove_sell_{{post_id}}">
                                        Wymów sprzedaż Lokalu {{post_data.id_lokalu}} / {{post_data.typ_zabudowy}}
                                    </div>
                                    
                                    <div class="row row-cols-2">
                                        
                                        <div class="col">
                                            <div class="border border-1 border-secondary rounded m-1 p-2 formatuj-hover">
                                                <div class="mb-2">
                                                    <span class="text-light fw-light">Metraż</span>
                                                </div>
                                                <div class="ms-3 formatuj-maly-font">
                                                    <i class="bi bi-app-indicator text-info"></i>
                                                    <span class="text-secondary fw-lighter">140 m&sup2;</span>
                                                </div>
                                            </div>
                                        </div>
 
                                        
                                    </div>
                                </div> 
                            </div>
                            <div class="sub-panel rogi">
                                {% for mess in post_data.Messages %}
                                <div class="formatuj-maly-wiersz formatuj-padding-lg rogi podswietlaj-plus-rogi formatuj-margin-left">
                                    <div class="row" style="width: 100%;">
                                        <div class="col-xl-9 col-lg-8 col-sm-9 formatuj-maly-font">
                                            <figure>
                                                <blockquote class="blockquote">
                                                    <p> 
                                                        {% if mess.status_wiadomosci == 'nowa' %}
                                                            <i class="bi bi-envelope-arrow-down text-success"></i>
                                                        {% elif mess.status_wiadomosci == 'odczytana' %}
                                                            <i class="bi bi-envelope-open text-secondary"></i>
                                                        {% else %}
                                                            <i class="bi bi-envelope-paper text-primary"></i>
                                                        {% endif %}
                                                        {{mess.tytul_wiadomosci}}
                                                    </p>
                                                </blockquote>
                                                <figcaption class="blockquote-footer">
                                                    {{mess.wiadomosc}} 
                                                </figcaption>
                                            </figure>                                            
                                        </div>
                                        <div class="d-none d-xl-block formatuj-maly-font" style="max-width: 200px;">
                                            <div>
                                                <div>
                                                    <strong>
                                                        {{mess.autor_wiadomosci}}
                                                    </strong>
                                                </div>
                                                {% if mess.telefon_do_autora_wiadomosci %}
                                                <div>
                                                    {{mess.telefon_do_autora_wiadomosci}}
                                                </div>
                                                {% endif %}
                                                {% if mess.email_autora_wiadomosci %}
                                                <div>
                                                    {{mess.email_autora_wiadomosci}}
                                                </div>
                                                {% endif %}
                                            </div> 
                                            
                                        </div>
                                        <div class="col d-flex justify-content-end">
                                            <a href="#">
                                                <i class="bi bi-archive" style="color: #4281b7 !important;"></i>
                                            </a>
                                            <form method="POST" id="removeComment_{{post_id}}" action="{{ url_for('remove_comment') }}" enctype="multipart/form-data" onsubmit="return confirm('Czy na pewno chcesz usunąć komentarz?');">
                                                <input type="hidden" name="page" id="CommName_{{post_id}}" value="blog"/>
                                                <input type="hidden" name="comment_id" id="CommName_{{post_id}}" value="{{mess.id}}"/>
                                                <button type="submit" class="custom-icon-button"><i class="bi bi-trash" style="color: rgb(205, 93, 93) !important;"></i></button>
                                            </form>
                                            <!-- <a href="#"><i class="bi bi-trash" style="color: rgb(205, 93, 93) !important;"></i></a> -->
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- collapse end -->
                        {% endfor %}
                        
{% endblock %}

