{% extends 'base.html' %}

{% block title %}DMD Panel Administratora - Strona główna{% endblock %}

{% block addButton %}{% endblock %}

{% block navbarTitle %}<a class="nav-link active dark-mode " aria-current="page" href="#">Strona główna</a>{% endblock %}

{% block tableHeader %}{% endblock %}
{% block tableContent%}
<!-- collapse start -->
<div class="jasne rogi">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 col-sm-3 col-lg-3 col-xl-2 w-auto"> <!-- Pierwsza kolumna -->
                <div class="row">
                    <div class="col-8">
                        <!-- Avatar -->
                        <!--  d-block d-sm-none tylko na małym -sm -->
                        <div class=" d-block d-sm-none">
                            <img class="avatar-sm" src="{{users_data['avatar']}}" alt=""/>
                        </div>
                        <!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
                        <div class="d-none d-sm-block d-lg-none">
                            <img class="avatar-lg" src="{{users_data['avatar']}}" alt=""/>
                        </div>
                        <!-- d-none d-xl-block tylko na pełnym xl+ -->
                        <div class="d-none d-lg-block">
                            <img class="avatar-xl" src="{{users_data['avatar']}}" alt=""/>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <!-- Edit -->
                        <!--  tylko na małym -sm -->
                        <div class="row d-block d-sm-none">
                            <div class="col-12 p-1">
                                <div style="text-align: right;">
                                    <a 
                                        data-bs-toggle="collapse" 
                                        href="#collapse_id_0_{{username}}" 
                                        role="button" 
                                        aria-expanded="false" 
                                        aria-controls="collapse_id_0_{{username}}" 
                                        style="color: rgb(202, 236, 253) !important;"
                                        >
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <!-- tylko na średnim lg+ -->
                        <div class="row d-none d-sm-block d-lg-none">
                            <div class="col-12 p-1">
                                <div style="text-align: right;">
                                    <a 
                                        data-bs-toggle="collapse" 
                                        href="#collapse_id_0_{{username}}" 
                                        role="button" 
                                        aria-expanded="false" 
                                        aria-controls="collapse_id_0_{{username}}" 
                                        style="color: rgb(202, 236, 253) !important;"
                                        >
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- tylko na pełnym xl+ -->
                        <div class="row d-none d-lg-block">
                            <div class="col-12 p-1">
                                <div style="text-align: right;">
                                    <a 
                                        data-bs-toggle="collapse" 
                                        href="#collapse_id_0_{{username}}" 
                                        role="button" 
                                        aria-expanded="false" 
                                        aria-controls="collapse_id_0_{{username}}" 
                                        style="color: rgb(202, 236, 253) !important;"
                                        >
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="col-12">
                    <!-- Plik -->
                    <!-- collapse wewnętrzny -->
                    <div class="collapse" style="max-width: 400px;" id="collapse_id_0_{{username}}">
                        <div class="m-2">
                            <div>
                                {% set user_id = users_data['id'] %}
                                <form method="POST" id="avatarUser_{{user_id}}" action="{{ url_for('update_avatar') }}" enctype="multipart/form-data">
                                    <!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
                                    <div class="d-none d-sm-block d-lg-none">
                                        <p style="font-size: 15px; font-weight: 400;">Zmień</p>
                                    </div>
                                    <!-- d-none d-xl-block tylko na pełnym xl+ -->
                                    <div class="row d-none d-lg-block">
                                        <h7>Podmień avatar</h7>
                                    </div>
                                    <div class="formatuj formatuj-maly-font">
                                        <!-- d-lg-none tylko na małym -sm -->
                                        <!-- d-none d-lg-block tylko na średnim lg+ -->
                                        <!-- d-none d-xl-block tylko na pełnym xl+ -->
                                        <div class="d-none d-xl-block" style="margin-bottom: 10px;">
                                            Wybierz plik: 
                                        </div>
                                        <input type="hidden" value="{{user_id}}_home" name="user_id" />
                                        
                                        <div class="file-upload-wrapper" id="upload_wrapper_{{user_id}}">
                                            <!-- d-lg-none tylko na małym -sm -->
                                            <!-- d-none d-lg-block tylko na średnim lg+ -->
                                            <!-- d-none d-xl-block tylko na pełnym xl+ -->
                                            <div class="file-upload-content row d-none d-lg-block" id="file_upload_content_{{user_id}}">
                                                <i class="bi bi-plus-square-dotted"></i>
                                                <span class="file-name" id="file_name_{{user_id}}">Dodaj plik</span>
                                            </div>
                                            <input type="file" class="file-input" id="upload_{{user_id}}" name="avatarFileByUser_{{user_id}}" />
                                        </div>
                                        <script>
                                            document.getElementById('upload_{{user_id}}').addEventListener('change', function() {
                                                var fileName = this.files[0].name;
                                                document.getElementById('file_name_{{user_id}}').textContent = fileName;
                                            });
                                        </script>
    
                                    </div>
                                    <div class="m-2">
                                        <div class="formatuj formatuj-left" style="margin-bottom: 10px;">
                                            <button 
                                                    type="button" 
                                                    class="btn btn-outline-secondary btn-sm" 
                                                    style="max-height: 30px; font-size: 12px;" 
                                                    onclick="justSubmitOneElementForm('upload_', '{{user_id}}', 'avatarUser_')">
                                                Zmień Avatar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="col-4 col-sm-4 col-lg-4 col-xl-6 w-auto"> <!-- Druga kolumna -->
                Kolumna 2
            </div>
            <div class="col-12 col-sm-12 col-lg-4 col-xl-4 w-auto"> <!-- Trzecia kolumna -->
                Kolumna 3
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="col-sm-6 col-lg-4 col-xl-4 p-2" style="max-width: 220px;">
            <!--  tylko na małym -sm -->
            <div class="row d-block d-sm-none">
                <div class="col-12 p-1">
                    <div style="text-align: right;">
                        <a 
                            data-bs-toggle="collapse" 
                            href="#collapse_id_0_{{username}}" 
                            role="button" 
                            aria-expanded="false" 
                            aria-controls="collapse_id_0_{{username}}" 
                            style="color: rgb(202, 236, 253) !important;"
                            >
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </div>
                </div>
            </div>
            
            <!-- tylko na średnim lg+ -->
            <div class="row d-none d-sm-block d-lg-none">
                <div class="col-12 p-1">
                    <div style="text-align: right;">
                        <a 
                            data-bs-toggle="collapse" 
                            href="#collapse_id_0_{{username}}" 
                            role="button" 
                            aria-expanded="false" 
                            aria-controls="collapse_id_0_{{username}}" 
                            style="color: rgb(202, 236, 253) !important;"
                            >
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- tylko na pełnym xl+ -->
            <div class="row d-none d-lg-block">
                <div class="col-12 p-1">
                    <div style="text-align: right;">
                        <a 
                            data-bs-toggle="collapse" 
                            href="#collapse_id_0_{{username}}" 
                            role="button" 
                            aria-expanded="false" 
                            aria-controls="collapse_id_0_{{username}}" 
                            style="color: rgb(202, 236, 253) !important;"
                            >
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </div>
                </div>
            </div>
            
            <!--  d-block d-sm-none tylko na małym -sm -->
            <div class=" d-block d-sm-none">
                <img class="avatar-sm" src="{{users_data['avatar']}}" alt=""/>
            </div>
            <!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
            <div class="d-none d-sm-block d-lg-none">
                <img class="avatar-lg" src="{{users_data['avatar']}}" alt=""/>
            </div>
            <!-- d-none d-xl-block tylko na pełnym xl+ -->
            <div class="d-none d-lg-block">
                <img class="avatar-xl" src="{{users_data['avatar']}}" alt=""/>
            </div>
            <!-- collapse wewnętrzny -->
            <div class="collapse" style="max-width: 400px;" id="collapse_id_0_{{username}}">
                <div class="m-2">
                    <div>
                        {% set user_id = users_data['id'] %}
                        <form method="POST" id="avatarUser_{{user_id}}" action="{{ url_for('update_avatar') }}" enctype="multipart/form-data">
                            <!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
                            <div class="d-none d-sm-block d-lg-none">
                                <p style="font-size: 15px; font-weight: 400;">Zmień</p>
                            </div>
                            <!-- d-none d-xl-block tylko na pełnym xl+ -->
                            <div class="row d-none d-lg-block">
                                <h7>Podmień avatar</h7>
                            </div>
                            <div class="formatuj formatuj-maly-font">
                                <!-- d-lg-none tylko na małym -sm -->
                                <!-- d-none d-lg-block tylko na średnim lg+ -->
                                <!-- d-none d-xl-block tylko na pełnym xl+ -->
                                <div class="d-none d-xl-block" style="margin-bottom: 10px;">
                                    Wybierz plik: 
                                </div>
                                <input type="hidden" value="{{user_id}}_home" name="user_id" />
                                
                                <div class="file-upload-wrapper" id="upload_wrapper_{{user_id}}">
                                    <!-- d-lg-none tylko na małym -sm -->
                                    <!-- d-none d-lg-block tylko na średnim lg+ -->
                                    <!-- d-none d-xl-block tylko na pełnym xl+ -->
                                    <div class="file-upload-content row d-none d-lg-block" id="file_upload_content_{{user_id}}">
                                        <i class="bi bi-plus-square-dotted"></i>
                                        <span class="file-name" id="file_name_{{user_id}}">Dodaj plik</span>
                                    </div>
                                    <input type="file" class="file-input" id="upload_{{user_id}}" name="avatarFileByUser_{{user_id}}" />
                                </div>
                                <script>
                                    document.getElementById('upload_{{user_id}}').addEventListener('change', function() {
                                        var fileName = this.files[0].name;
                                        document.getElementById('file_name_{{user_id}}').textContent = fileName;
                                    });
                                </script>

                            </div>
                            <div class="m-2">
                                <div class="formatuj formatuj-left" style="margin-bottom: 10px;">
                                    <button 
                                            type="button" 
                                            class="btn btn-outline-secondary btn-sm" 
                                            style="max-height: 30px; font-size: 12px;" 
                                            onclick="justSubmitOneElementForm('upload_', '{{user_id}}', 'avatarUser_')">
                                        Zmień Avatar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-4 p-2 formatuj-left">
            <!-- informacje o Użytkowniku -->
            <div class="row-cols-auto">
                <div class="user-data">
                    <!-- d-block d-sm-none tylko na małym -sm -->
                    <div class="row d-block d-sm-none">
                        <div class="col-9 p-1">
                            <p style="font-size: 13px; font-weight: 400;">
                                <i class="bi bi-info-circle"></i> Informacje
                            </p>
                        </div>
                        <div class="col-3 p-1">
                            <!-- puste miejsce -->
                        </div>
                    </div>
                    
                    <!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
                    <div class="row d-none d-sm-block d-lg-none">
                        <h5 class="fw-bold">Informacje</h5>
                    </div>
                    <!-- d-none d-xl-block tylko na pełnym xl+ -->
                    <div class="row d-none d-lg-block">
                        <h5 class="fw-bold">Informacje o użytkowniku</h5>
                    </div>
                    <!-- d-block d-sm-none tylko na małym -sm -->
                    <div class="d-block d-sm-none">
                        <a href="mailto:{{users_data['email']}}">
                            <i class="bi bi-envelope-at-fill"></i>
                        </a>
                    </div>
                    <!-- d-none d-sm-block d-lg-none tylko na średnim -md -->
                    <div class="row d-none d-sm-block d-lg-none">
                        <div class="col-lg-3 col-sm-9 profil-info text-warning">
                            Email:
                        </div>
                        <div class="col-lg-9 col-sm-9 profil-content text-body-tertiary">
                            <a href="mailto:{{users_data['email']}}">
                                <i class="bi bi-envelope-at-fill"></i>
                            </a>
                        </div>
                    </div>
                    <!-- d-none d-lg-block tylko na pełnym lg+ -->
                    <!-- <div class="d-none d-lg-block">Tylko na pełnym</div> -->

                    <div class="row d-none d-lg-block">
                        <div class="col-lg-3 col-sm-12 profil-info text-warning">
                            Email:
                        </div>
                        <div class="col-lg-9 col-sm-12 profil-content text-body-tertiary">
                            <a href="mailto:{{users_data['email']}}">
                                {{users_data['email']}} <i class="bi bi-envelope-at-fill"></i>
                            </a>
                        </div>
                    </div>
                    <!-- d-block d-sm-none tylko na małym -sm -->
                    <div class="row d-block d-sm-none">
                        <div class="col-lg-9 col-sm-12 profil-content text-body-tertiary">
                            {% if users_data['phone'] %}
                            <a href="tel:{{users_data['phone']}}">
                                <i class="bi bi-telephone-outbound-fill text-success"></i>
                            </a>
                            <a href="https://wa.me/{{ users_data['phone'][1:] }}" target="_blank">
                                <i class="bi bi-whatsapp text-success"></i>
                            </a>
                            {% else %}
                            <i class="bi bi-dash-lg text-danger"></i>
                            {% endif %}
                        </div>
                    </div>
                    <!-- d-none d-sm-block d-lg-none tylko na średnim -md -->
                    <div class="row d-none d-sm-block d-lg-none">
                        <div class="col-lg-3 col-sm-12 profil-info text-warning">
                            Telefon:
                        </div>
                        <div class="col-lg-9 col-sm-12 profil-content text-body-tertiary">
                            {% if users_data['phone'] %}
                            <a href="tel:{{users_data['phone']}}">
                                <i class="bi bi-telephone-outbound-fill text-success"></i>
                            </a>
                            <a href="https://wa.me/{{ users_data['phone'][1:] }}" target="_blank">
                                <i class="bi bi-whatsapp text-success"></i>
                            </a>
                            {% else %}
                            <i class="bi bi-dash-lg text-danger"></i>
                            {% endif %}
                        </div>
                    </div>
                    <!-- d-none d-lg-block tylko na pełnym lg+ -->
                    <!-- <div class="d-none d-lg-block">Tylko na pełnym</div> -->
                    <div class="row d-none d-lg-block">
                        <div class="col-lg-3 col-sm-12 profil-info text-warning">
                            Telefon:
                        </div>
                        <div class="col-lg-9 col-sm-12 profil-content text-body-tertiary">
                            {% if users_data['phone'] %}
                            <a href="tel:{{users_data['phone']}}">
                                {{users_data['phone']}} <i class="bi bi-telephone-outbound-fill text-success"></i>
                            </a>
                            <a href="https://wa.me/{{ users_data['phone'][1:] }}" target="_blank">
                                <i class="bi bi-whatsapp text-success"></i>
                            </a>
                            {% else %}
                            <i class="bi bi-dash-lg text-danger"></i>
                            {% endif %}
                        </div>
                    </div>
                    <!-- d-block d-sm-none tylko na małym -sm -->
                    <!-- <div class="d-block d-sm-none">Tylko na małym</div> -->
                    <!-- d-none d-sm-block d-lg-none tylko na średnim -md -->
                    <!-- <div class="d-none d-sm-block d-lg-none">Tylko na średnim</div> -->
                    <!-- d-none d-lg-block tylko na pełnym lg+ -->
                    <!-- <div class="d-none d-lg-block">Tylko na pełnym</div> -->
                    <div class="row">
                        <div class="col-lg-3 col-sm-12 profil-info text-warning">
                            Facebook:
                        </div>
                        <div class="col-lg-9 col-sm-12 profil-content">
                            {% if users_data['facebook'] %}
                            <a href="{{users_data['facebook']}}" target="_blank">
                                <i class="bi bi-facebook text-body-tertiary"></i> <i class="bi bi-box-arrow-up-right text-info"></i>
                            </a>
                            {% else %}
                            <i class="bi bi-dash-lg text-danger"></i>
                            {% endif %}
                        </div>
                    </div>
                    <!-- d-block d-sm-none tylko na małym -sm -->
                    <!-- <div class="d-block d-sm-none">Tylko na małym</div> -->
                    <!-- d-none d-sm-block d-lg-none tylko na średnim -md -->
                    <!-- <div class="d-none d-sm-block d-lg-none">Tylko na średnim</div> -->
                    <!-- d-none d-lg-block tylko na pełnym lg+ -->
                    <!-- <div class="d-none d-lg-block">Tylko na pełnym</div> -->
                    <div class="row">
                        <div class="col-lg-3 col-sm-12 profil-info text-warning">
                            Linkedin:
                        </div>
                        <div class="col-lg-9 col-sm-12 profil-content">
                            {% if users_data['linkedin'] %}
                            <a href="{{users_data['linkedin']}}" target="_blank">
                                <i class="bi bi-linkedin text-body-tertiary"></i> <i class="bi bi-box-arrow-up-right text-info"></i>
                            </a>
                            {% else %}
                            <i class="bi bi-dash-lg text-danger"></i>
                            {% endif %}
                        </div>
                    </div>
                    <!-- d-block d-sm-none tylko na małym -sm -->
                    <!-- <div class="d-block d-sm-none">Tylko na małym</div> -->
                    <!-- d-none d-sm-block d-lg-none tylko na średnim -md -->
                    <!-- <div class="d-none d-sm-block d-lg-none">Tylko na średnim</div> -->
                    <!-- d-none d-lg-block tylko na pełnym lg+ -->
                    <!-- <div class="d-none d-lg-block">Tylko na pełnym</div> -->
                    <div class="row">
                        <div class="col-lg-3 col-sm-12 profil-info text-warning">
                            Instagram:
                        </div>
                        <div class="col-lg-9 col-sm-12 profil-content">
                            {% if users_data['instagram'] %}
                            <a href="{{users_data['instagram']}}" target="_blank">
                                <i class="bi bi-instagram text-body-tertiary"></i> <i class="bi bi-box-arrow-up-right text-info"></i>
                            </a>
                            {% else %}
                            <i class="bi bi-dash-lg text-danger"></i>
                            {% endif %}
                        </div>
                    </div>
                    <!-- d-block d-sm-none tylko na małym -sm -->
                    <!-- <div class="d-block d-sm-none">Tylko na małym</div> -->
                    <!-- d-none d-sm-block d-lg-none tylko na średnim -md -->
                    <!-- <div class="d-none d-sm-block d-lg-none">Tylko na średnim</div> -->
                    <!-- d-none d-lg-block tylko na pełnym lg+ -->
                    <!-- <div class="d-none d-lg-block">Tylko na pełnym</div> -->
                    <div class="row">
                        <div class="col-lg-3 col-sm-12 profil-info text-warning">
                            Twitter:
                        </div>
                        <div class="col-lg-9 col-sm-12 profil-content">
                            {% if users_data['twiter'] %}
                            <a href="{{users_data['twiter']}}" target="_blank">
                                <i class="bi bi-twitter-x text-body-tertiary"></i> <i class="bi bi-box-arrow-up-right text-info"></i>
                            </a>
                            {% else %}
                            <i class="bi bi-dash-lg text-danger"></i>
                            {% endif %}
                        </div>
                    </div>
                    <!-- d-block d-sm-none tylko na małym -sm -->
                    <!-- <div class="d-block d-sm-none">Tylko na małym</div> -->
                    <!-- d-none d-sm-block d-lg-none tylko na średnim -md -->
                    <!-- <div class="d-none d-sm-block d-lg-none">Tylko na średnim</div> -->
                    <!-- d-none d-lg-block tylko na pełnym lg+ -->
                    <!-- <div class="d-none d-lg-block">Tylko na pełnym</div> -->
                    <div class="row">
                        <div class="col-lg-3 col-sm-12 profil-info text-warning">
                            Nazwisko:
                        </div>
                        <div class="col-lg-9 col-sm-12 profil-content text-body-tertiary">
                            {{users_data['name']}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12 profil-info text-warning">
                            Login:
                        </div>
                        <div class="col-lg-9 col-sm-12 profil-content text-body-tertiary">
                            @{{users_data['username']}}
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!-- d-block d-sm-none tylko na małym -sm -->
                <!-- <div class="d-block d-sm-none">Tylko na małym</div> -->
                <!-- d-none d-sm-block d-lg-none tylko na średnim -md -->
                <!-- <div class="d-none d-sm-block d-lg-none">Tylko na średnim</div> -->
                <!-- d-none d-lg-block tylko na pełnym lg+ -->
                <!-- <div class="d-none d-lg-block">Tylko na pełnym</div> -->
                <div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12 profil-info text-warning">
                            Stanowisko:
                        </div>
                        <div class="col-lg-9 col-sm-12 profil-content text-body-tertiary">
                            {{users_data['stanowisko']}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12 profil-info text-warning">
                            Opis:
                        </div>
                        <div class="col-lg-9 col-sm-12 profil-content text-body-tertiary">
                            {{users_data['opis']}}
                        </div>
                    </div>
                    <!-- d-block d-sm-none tylko na małym -sm -->
                    <!-- <div class="d-block d-sm-none">Tylko na małym</div> -->
                    <!-- d-none d-sm-block d-lg-none tylko na średnim -md -->
                    <!-- <div class="d-none d-sm-block d-lg-none">Tylko na średnim</div> -->
                    <!-- d-none d-lg-block tylko na pełnym lg+ -->
                    <!-- <div class="d-none d-lg-block">Tylko na pełnym</div> -->
                    <div class="row">
                        <div class="col-3 profil-info text-info">
                            ACTIONS:
                        </div>
                        <div class="col-9 profil-content">
                            <!-- <a data-bs-toggle="collapse" href="#collapse_id_00" role="button" aria-expanded="false" aria-controls="collapse_id_00"><i class="bi bi-info-square" style="color: rgb(0, 196, 49) !important;"></i></a> -->
                            <a data-bs-toggle="collapse" href="#collapse_id_3_{{username}}" role="button" aria-expanded="false" aria-controls="collapse_id_3_{{username}}"><i class="bi bi-pencil-square" style="color: rgb(25, 101, 22) !important;"></i></a>
                            <a data-bs-toggle="collapse" href="#collapse_id_1_{{username}}" role="button" aria-expanded="false" aria-controls="collapse_id_1_{{username}}"><i class="bi bi-key-fill" style="color: rgb(179, 116, 34) !important;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4 col-xl-4 p-2 colapse-column-usual formatuj-left">
            <!-- informacje o Użytkowniku -->
            <div class="user-data">
                <div id="accordion_{{username}}">
                    <!-- collapse wewnętrzny -->
                    <div class="collapse" style="max-width: 250px;" id="collapse_id_1_{{username}}" data-bs-parent="#accordion_{{username}}">
                        <div class="tylko-klej col-auto">
                            <div>
                                <form action="{{ url_for('update_password_user') }}" id="datarUser_{{user_id}}" method="POST" enctype="multipart/form-data">
                                    <div class="table-creator">
                                        <h7>Zmień hasło</h7>
                                    </div>
                                    <input type="hidden" name="id" value="{{user_id}}" />
                                    <input type="hidden" name="page" value="home" />
                                    <input  input type="password" class="form-control bg-dark formatuj" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" name="old_Password" id="inputPassword1" placeholder="Old Password" required />
                                    <input  input type="password" class="form-control bg-dark formatuj" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" name="new_Password" id="inputPassword2" placeholder="New Password" required />
                                    <input  input type="password" class="form-control bg-dark formatuj" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" name="repeat_Password" id="inputPassword3" placeholder="Repeat Password" required />
                                    <div class="tylko-klej">
                                        <div style="padding-left: 8px; max-width:  80px;">
                                            <button type="submit" class="btn btn-secondary btn-sm" style="max-height: 30px; font-size: 12px;" data-bs-toggle="collapse" data-bs-target="#collapse_id_1_{{username}}" aria-expanded="false" aria-controls="collapse_id_1_{{username}}">Anuluj</button>
                                        </div>
                                        <div class="formatuj-left">
                                            <button type="submit" class="btn btn-success btn-sm" style="max-height: 30px; font-size: 12px;" >Zapisz zmiany</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <!-- collapse wewnętrzny -->
                    <div class="collapse" style="max-width: 250px;" id="collapse_id_3_{{username}}" data-bs-parent="#accordion_{{username}}">
                        <div class="tylko-klej col-auto">
                            <div>
                                <form action="{{ url_for('update_data_user') }}" id="datarUser_{{user_id}}" method="POST" enctype="multipart/form-data">
                                    <div class="table-creator">
                                        <h7>Zmień dane</h7>
                                    </div>
                                    <input type="hidden" name="id" value="{{user_id}}" />
                                    <input type="hidden" name="page" value="home" />
                                    <input  type="text" value="{{users_data['name']}}" class="form-control bg-dark formatuj" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" name="name" id="name_{{username}}" placeholder="Imię i Nazwisko" />
                                    <input  type="email" value="{{users_data['email']}}" class="form-control bg-dark formatuj" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" name="email" id="email_{{username}}" placeholder="Adres e-mail" />
                                    <input  type="text" value="{{users_data['phone']}}" class="form-control bg-dark formatuj" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" name="phone" id="phone_{{username}}" placeholder="Telefon" />
                                    <input  type="text" value="{{users_data['facebook']}}" class="form-control bg-dark formatuj" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" name="facebook" id="facebook_{{username}}" placeholder="Facebook" />
                                    <input  type="text" value="{{users_data['linkedin']}}" class="form-control bg-dark formatuj" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" name="linkedin" id="linkedin_{{username}}" placeholder="Linkedin" />
                                    <input  type="text" value="{{users_data['instagram']}}" class="form-control bg-dark formatuj" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" name="instagram" id="instagram_{{username}}" placeholder="Instagram" />
                                    <input  type="text" value="{{users_data['twiter']}}" class="form-control bg-dark formatuj" style="max-height: 30px; font-size: 12px; color: #9da2a8; border:#6a6a6a solid 1px;" name="twitter" id="twiter_{{username}}" placeholder="Twiter X" />
                                    <div class="tylko-klej">
                                        <div style="padding-left: 8px; max-width:  80px;">
                                            <button type="submit" class="btn btn-secondary btn-sm" style="max-height: 30px; font-size: 12px;" data-bs-toggle="collapse" data-bs-target="#collapse_id_3_{{username}}" aria-expanded="false" aria-controls="collapse_id_3_{{username}}">Anuluj</button>
                                        </div>
                                        <div class="formatuj-left">
                                            <button type="submit" class="btn btn-success btn-sm" style="max-height: 30px; font-size: 12px;" >Zapisz zmiany</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jasne rogi formatyj-maly-wiersz formatuj-padding">
    <div class="m-2" id="chat-box">
        <!-- Wiadomości będą tutaj -->
    </div>
    <div class="m-2" >
        <form id="chat-form">
            <input class="form-control form-control-lg bg-dark text-success" id="message-input" type="text" placeholder="Wpisz wiadomość" aria-label=".form-control-lg example" required>
            <!-- <input type="text" id="message-input" placeholder="Wpisz wiadomość" required> -->
            <!-- <button type="submit">Wyślij</button> -->
        </form>
    </div>
</div>

{% endblock %}

{% block footer %}
<button id="toggle-scroll" class="btn btn-secondary m-2">⬆️ Wyłącz przewijanie</button>
<p>All right reserved &copy; 2024 by DMD Panel Administratora.</p><br/>
{% endblock %}

{% block bottom_script %}
<script>
    $(document).ready(function() {
        let autoScrollEnabled = true;

        function fetchMessages() {
            $.ajax({
                url: '/fetch-messages',
                method: 'GET',
                success: function(data) {
                    let chatBox = $('#chat-box');
                    chatBox.empty();
                    data.forEach(function(message) {
                        chatBox.append(`
                        <div class="chat-container">
                            <div class="chat-bubble">
                                <div class="chat-avatar"><i class="bi bi-robot"></i></div>
                                <div class="chat-username">${message[0]}</div>
                                <div class="chat-message-content">${message[1]}</div>
                                <div class="chat-message-date">${message[2]}</div>
                            </div>
                        </div>`
                    );
                        // chatBox.append(`<div class="card m-2 bg-dark"><div class="card-header text-info fs-5">${message[0]}</div><div class="card-body"><blockquote class="blockquote mb-0 fs-7"><p>${message[1]}</p><footer class="blockquote-footer"><small>(${message[2]})</small></footer></blockquote></div></div>`);
                    });
                    if (autoScrollEnabled) {
                        // Przewijanie na dół po załadowaniu wiadomości
                        $('html, body').scrollTop($(document).height());
                    }
                }
            });
        }

        // Pobieranie wiadomości co 3 sekundy
        setInterval(fetchMessages, 3000);

        // Początkowe pobranie wiadomości
        fetchMessages();

        // Funkcja do włączania/wyłączania przewijania
        $('#toggle-scroll').click(function() {
            autoScrollEnabled = !autoScrollEnabled;
            if (autoScrollEnabled) {
                $(this).html('⬆️ Wyłącz przewijanie');
            } else {
                $(this).html('⬇️ Włącz przewijanie');
            }
        });
    });

    // wysyłanie na czat
    document.getElementById('chat-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Zapobiega przeładowaniu strony

        var messageInput = document.getElementById('message-input');
        var message = messageInput.value;

        if (message.trim() !== "") {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/send-chat-message', true);
            xhr.setRequestHeader('Content-Type', 'application/json');

            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 201) {
                    // var chatBox = document.getElementById('chat-box');
                    // var newMessage = document.createElement('div');
                    // newMessage.textContent = message;
                    // chatBox.appendChild(newMessage);
                    messageInput.value = ''; // Czyści pole tekstowe
                }
            };

            var data = JSON.stringify({
                content: message
            });

            xhr.send(data);
        }
    });

</script>
{% endblock %}