{% extends 'base.html' %}

{% block title %}DMD Panel Administratora - Zarządzanie Aplikacją{% endblock %}

{% block addButton %}
<!-- d-block d-sm-none tylko na średnim sm+ -->
<div class="d-block d-sm-none mt-2">
    <div class="d-flex align-items-center justify-content-between">
        <!-- dropdown -->
        <div class="dropdown">
            <button 
            class="nav-link dropdown-toggle link-light dark-mode" 
            type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" 
            style="max-height: 29px; font-size: 20px;"
            aria-expanded="false">
                <i class="bi bi-sliders" style="color: #4cafd9; position: relative; top: -10px;"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a class="estate_button dropdown-item active" href="/setting" style="max-height: 29px; font-size: 15px; font-weight: 100;">Zarządzanie Aplikacją</a></li>
                <li><a class="dropdown-item" href="/fb-groups" style="max-height: 29px; font-size: 15px; font-weight: 100;">Zarządzanie Grupami FB</a></li>
            </ul>
        </div>
        
    </div>
</div>
<!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
<div class="d-none d-sm-block d-lg-none mt-2">
    <div class="d-flex align-items-center justify-content-between">
        <!-- dropdown -->
        <div class="dropdown">
            <button 
            class="nav-link dropdown-toggle link-light dark-mode" 
            type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" 
            style="max-height: 40px; font-size: 15px; font-weight: 100;"
            aria-expanded="false">
                Aplikacja
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a class="estate_button dropdown-item active" href="/setting" style="max-height: 40px; font-size: 15px; font-weight: 100;">Zarządzanie Aplikacją</a></li>
                <li><a class="dropdown-item" href="/fb-groups" style="max-height: 40px; font-size: 15px; font-weight: 100;">Zarządzanie Grupami FB</a></li>
            </ul>
        </div>
        
    </div>
</div>
<!-- d-none d-xl-block tylko na pełnym xl+ -->
<div class="d-none d-lg-block mt-2">
    <div class="d-flex align-items-center justify-content-between">
        <!-- dropdown -->
        <div class="dropdown">
            <button 
            class="nav-link dropdown-toggle link-light dark-mode" 
            type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" 
            style="max-height: 45px; font-size: 20px; font-weight: 100;"
            aria-expanded="false">
                Zarządzanie Aplikacją
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                <li><a class="estate_button dropdown-item active" href="/setting" style="max-height: 45px; font-size: 20px; font-weight: 100;">Zarządzanie Aplikacją</a></li>
                <li><a class="dropdown-item" href="/fb-groups" style="max-height: 45px; font-size: 20px; font-weight: 100;">Zarządzanie Grupami FB</a></li>
            </ul>
        </div>
        
    </div>
</div>
{% endblock %}
{% block navbarTitle %}
<!-- d-block d-sm-none tylko na średnim sm+ -->
<div class="d-block d-sm-none mt-2">
    <div style="display: flex; justify-content: space-between;">
        <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop_sm" aria-controls="offcanvasTop_sm">
            <img 
                src="../static/img/logotypy_dmd_domy.png" 
                alt="DMD" 
                style="margin-left: 2px !important; padding-right: 10px; max-height: 22px;"/>
        </a>
    </div>
</div>
<!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
<div class="d-none d-sm-block d-lg-none mt-2">
    <div style="display: flex; justify-content: space-between;">
        <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop_lg" aria-controls="offcanvasTop_lg">
            <img 
                src="../static/img/logotypy_dmd_domy.png" 
                alt="DMD" 
                style="margin-left: 5px !important; padding-right: 10px; max-height: 35px;"
                />
        </a>
        <a 
            class="nav-link active dark-mode" 
            aria-current="page" 
            style="max-height: 40px; font-size: 15px; font-weight: 100;"
            href="#">
            Aplikacja
        </a>
    </div>
</div>
<!-- d-none d-xl-block tylko na pełnym xl+ -->
<div class="d-none d-lg-block mt-2">
    <div style="display: flex; justify-content: space-between;">
        <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop_xl" aria-controls="offcanvasTop_xl">
            <img 
                src="../static/img/logotypy_dmd_domy.png" 
                alt="DMD" 
                style="margin-left: 10px !important; padding-right: 10px; max-height: 40px;"/>
        </a>
        <a 
            class="nav-link active dark-mode" 
            aria-current="page" 
            style="max-height: 45px; font-size: 20px; font-weight: 100;"
            href="#">
            Zarządzanie Aplikacją
        </a>
    </div>
</div>

{% endblock %}


{% block tableContent%}
<div class="jasne rogi formatyj-maly-wiersz formatuj-padding-lg">
    <form action="{{ url_for('set_settings') }}" class="formatuj-padding-lg" id="Plan_data" method="POST" enctype="multipart/form-data">
        <div class="row">
            <!-- calość formularza -->
            <div class="col-sm-12  col-md-6 col-lg-3 p-15 formatuj-left formatuj-padding-lg">
                <div class="formatuj-left">
                    <h5>Ustawienia Domeny Obrazów:</h5>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="main-domain" value="{{domain}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="https://example.com">
                    <label for="floatingInput">Domena główna</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="real-loc-on-server" value="{{real_loc_on_server}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="https://example.com">
                    <label for="floatingInput">Adres na serwerze</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="blog-pic-path" value="{{blog}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                    <label for="floatingInput">Ścieżka do blog obrazki</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="avatar-pic-path" value="{{avatar}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                    <label for="floatingInput">Ścieżka do avatar</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="estate-pic-path" value="{{estate_pic_path}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                    <label for="floatingInput">Ścieżka do Ofert Nieruchomości</label>
                </div>
                
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 p-2 formatuj-left formatuj-padding-lg">
                <div class="formatuj-left">
                    <h5>Ustawienia Stronicowania:</h5>
                </div>
                <div class="form-floating mb-3 formatuj-left">
                    <input 
                        style="width: 150px !important;" 
                        type="text" 
                        name="item-on-page"
                        value="{{onPages}}" 
                        class="formatuj-inputs-setting form-control" 
                        id="floatingInput" 
                        placeholder="example.com">

                    <label for="floatingInput">Ilość elementów na stonie:</label>
                </div>
                
                <div>
                    <!-- Guziki -->
                    <div class="formatuj-left formatuj-margin">
                        <button type="submit" class="btn btn-success btn-sm" value="Ustaw plan">Zapisz Ustawienia</button>
                        <!-- <input type="submit" class="btn btn-success btn-sm" value="Zapisz Ustawienia"/> -->
                    </div>
                    <div class="formatuj-left formatuj-margin">                    
                        <input type="submit" class="btn btn-danger btn-sm" id="restartButton" value="Restaruj Aplikację"/>
                        <p class="jasny formatuj-padding" style="margin-top: 25px; max-width: 150px; color: #beddff">Ostatni restart aplikacji: {{restart}}</p>
                        <!-- Dodajemy miejsce na ostatni log "__main__" -->
                        <p id="last-main-log" class="jasny formatuj-padding" style="color: #ff6dc9; margin-top: 15px;">
                            <!-- Ostatni log "__main__" zostanie tutaj wstawiony dynamicznie -->
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-sm-12  col-md-6 col-lg-3 p-15 formatuj-left formatuj-padding-lg">
                <div class="formatuj-left">
                    <h5>Ustawienia Adresu Admina:</h5>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text formatuj-inputs" id="inputGroup-sizing-sm"><i class="bi bi-envelope-at-fill"></i></span>
                    <input type="text" class="form-control formatuj-inputs" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Adres E-mail" name="admin-smtp-username" id="admin-smtp-username" value="{{smtpAdmin['smtp_username']}}" required>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text formatuj-inputs" id="inputGroup-sizing-sm"><i class="bi bi-hdd-network"></i></span>
                    <input type="text" class="form-control formatuj-inputs" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Serwer SMTP" name="admin-smtp-server" id="admin-smtp-server" value="{{smtpAdmin['smtp_server']}}" required>
                    <input type="text" class="form-control formatuj-inputs" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Port" name="admin-smtp-port" id="admin-smtp-port" value="{{smtpAdmin['smtp_port']}}" required>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text formatuj-inputs" id="inputGroup-sizing-sm"><i class="bi bi-file-earmark-lock2"></i></span>
                    <input type="password" class="form-control formatuj-inputs" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="admin-smtp-password" id="admin-smtp-password" value="" placeholder="Hasło do E-maila">
                </div>

                <div class="formatuj-left">
                    <h5>Plik Nakładki Ogłoszeń:</h5>
                </div>
                
                <div class="input-group mb-3">
                    <label class="input-group-text formatuj-inputs" for="etate_logo"><i class="bi bi-cloud-upload"></i></label>
                    <input type="file" class="form-control formatuj-inputs" id="etate_logo" name="tmpl_logo" accept=".png"/>
                </div>
                <div style="max-width: 200px;">
                    <img src="{{etate_logo_png}}" alt="Brak pliku nakładki!" style="max-width: 100%; height: auto;">
                </div>
                
                
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 p-15 formatuj-left formatuj-padding-lg" >
                <div class="formatuj-left">
                    <h5>Ustawienia witryn:</h5>
                    <div class="form-floating mb-3">
                        <input type="text" name="url-domy" value="{{domy}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                        <label for="floatingInput">Witryna DMD Domy</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="url-budownictwo" value="{{budownictwo}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                        <label for="floatingInput">Witryna DMD Budownictwo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="url-development" value="{{development}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                        <label for="floatingInput">Witryna DMD Development</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="url-elitehome" value="{{elitehome}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                        <label for="floatingInput">Witryna DMD EliteHome</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="url-inwestycje" value="{{inwestycje}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                        <label for="floatingInput">Witryna DMD Inwestycje</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="url-instalacje" value="{{instalacje}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                        <label for="floatingInput">Ścieżka do Instalacje</label>
                    </div>
                </div>                                          
            </div>
            
        </div>
    </form>
</div>

<div class="jasne rogi formatyj-maly-wiersz">
    <div class="rogi colapse-column-usual formatuj-left">
        <h5>Ostatnie Logi Systemowe</h5>
        <div id="copy-notification" style="display: none; position: fixed; bottom: 30px; right: 20px; background-color: #4CAF50; color: white; padding: 10px; border-radius: 5px; z-index: 1000;">
            Log copied to clipboard!
        </div>
        <ul id="log-list" class="unix-log-style">
            <!-- Logi będą tutaj dynamicznie dodawane przez JavaScript -->
        </ul>
    </div>
</div>

<script>
    document.getElementById('restartButton').addEventListener('click', function(event) {
        event.preventDefault();  // Zapobiega domyślnemu zachowaniu przycisku submit

        fetch('/restart', {
            method: 'POST',  // Zakładając, że używasz metody POST do restartu
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('Błąd w odpowiedzi sieciowej.');
            }
        })
        .then(data => {
            console.log(data.message);  // Zakładając, że endpoint zwraca jakąś wiadomość
            // alert('Aplikacja została zrestartowana.');
            window.location.href = '/setting'; 
        })
        .catch(error => {
            console.error('Wystąpił błąd:', error);
            alert('Nie udało się zrestartować aplikacji.');
        });
    });

    function copyToClipboard(logText) {
        // Tworzymy tymczasowy element <textarea> do skopiowania tekstu
        const tempTextArea = document.createElement("textarea");
        tempTextArea.value = logText;
        document.body.appendChild(tempTextArea);
        tempTextArea.select();
        try {
            document.execCommand("copy");

            // Pokazujemy powiadomienie o skopiowaniu
            showNotification();

        } catch (err) {
            alert('Failed to copy log: ', err);
        }
        // Usuwamy tymczasowy element
        document.body.removeChild(tempTextArea);
    }

    // Funkcja do wyświetlenia powiadomienia
    function showNotification() {
        const notification = document.getElementById("copy-notification");
        notification.style.display = "block";

        // Ukryj powiadomienie po 2 sekundach
        setTimeout(function() {
            notification.style.display = "none";
        }, 2000);
    }

    $(document).ready(function() {
        let lastMainLog = '';  // Przechowywanie ostatniego logu "__main__"
        function fetchLogs() {
            $.ajax({
                url: '/fetch-logs',  // Zmieniony endpoint
                method: 'GET',
                success: function(data) {
                    let logList = $('#log-list');
                    logList.empty();
                    foundMainLog = false;  // Resetujemy flagę przy każdym nowym fetchu logów
                    data.forEach(function(log) {
                        let logColor = '';

                        if (log.includes("UWAGA!")) {
                            logColor = 'style="color: #ff9898;"';
                        } else if (log.includes("IP:") && log.includes("Endpoint: static")) {
                            logColor = 'style="display: none;"';
                        } else if (log.includes("IP:") && log.includes("Endpoint: get_region_data")) {
                            logColor = 'style="display: none;"';
                        } else if (log.includes("IP:") && log.includes("Endpoint: fetch_messages")) {
                            logColor = 'style="display: none;"';
                        } else if (log.includes("IP:") && log.includes("Endpoint: fetch_logs")) {
                            logColor = 'style="display: none;"';
                        } else if (log.includes("Udane logowanie użytkownika")) {
                            logColor = 'style="color: #00b3ff;"';
                        } else if (log.includes("Nie udane logowanie")) {
                            logColor = 'style="color: #ff0000;"';
                        } else if (log.includes("__main__") && !foundMainLog) {
                            // Tylko pierwsza iteracja przetwarza log "__main__"
                            const logParts = log.split(" ");
                            const lastDatestamp = logParts[0];  // Pobieramy datę
                            const lastTimestamp = logParts[1];  // Pobieramy drugi timestamp
                            lastMainLog = `Deamon is working:<br/>${lastDatestamp}<br/>${lastTimestamp}`;
                            foundMainLog = true;  // Ustawiamy flagę, aby kolejne logi "__main__" były ignorowane
                            return;  // Nie wyświetlamy tego logu w liście logów
                        } else if (log.includes("__main__") && foundMainLog) {
                            logColor = 'style="display: none;"';
                        } else if (log.includes("IP:") && !log.includes("Endpoint: static")) {
                            logColor = 'style="color: greenyellow;"';
                        }

                        logList.append(`<li ${logColor} onclick="copyToClipboard('${log}')">${log}</li>`);
                    });

                    // Wyświetlanie ostatniego logu "__main__" w odpowiednim miejscu
                    if (lastMainLog) {
                        $('#last-main-log').html(lastMainLog);
                    }
                }
            });
        }

        // Pobieranie logów co 3 sekundy
        setInterval(fetchLogs, 3000);

        // Początkowe pobranie logów
        fetchLogs();
    });
</script>
{% endblock %}



{% block footer %}
    <p>All right reserved &copy; 2024 by DMD Panel Administratora.</p>
{% endblock %}