{% extends 'base.html' %}

{% block title %}DMD Panel Administratora - Zarządzanie Aplikacją{% endblock %}

{% block addButton %}
<!-- dropdown -->
<div class="dropdown">
    <button class="nav-link dropdown-toggle link-light dark-mode" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        Zarządzanie Aplikacją
    </button>
    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
        <li><a class="estate_button dropdown-item active" href="/setting">Zarządzanie Aplikacją</a></li>
        <li><a class="dropdown-item" href="/fb-groups">Zarządzanie Grupami FB</a></li>
    </ul>
</div>
<!-- dropdown END -->

{% endblock %}
{% block navbarTitle %}<a class="nav-link active dark-mode " aria-current="page" href="#">Zarządzanie Aplikacją</a>{% endblock %}


{% block tableContent%}
<div class="jasne rogi formatyj-maly-wiersz">
    <form action="{{ url_for('set_settings') }}" id="Plan_data" method="POST" enctype="multipart/form-data">
        <div class="tylko-klej">
            <!-- calość formularza -->
            <div class="rogi colapse-column-usual formatuj-left">
                <div class="formatuj-left">
                    <h5>Ustawienia Domeny Obrazów:</h5>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="main-domain" value="{{domain}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="https://example.com">
                    <label for="floatingInput">Domena główna</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="real-loc-on-server" value="{{real_loc_on_server}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="https://example.com">
                    <label for="floatingInput">Adres na serwerze</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="blog-pic-path" value="{{blog}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                    <label for="floatingInput">Ścieżka do blog obrazki</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="avatar-pic-path" value="{{avatar}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                    <label for="floatingInput">Ścieżka do avatar</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="estate-pic-path" value="{{estate_pic_path}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                    <label for="floatingInput">Ścieżka do Ofert Nieruchomości</label>
                </div>
                
            </div>
            <div class="colapse-column-usual formatuj-left">
                <div class="formatuj-left">
                    <h5>Ustawienia Stronicowania:</h5>
                </div>
                <div class="form-floating mb-3 formatuj-left">
                    <input 
                        style="width: 150px !important;" 
                        type="text" 
                        name="item-on-page"
                        value="{{onPages}}" 
                        class="formatuj-inputs-setting form-control" 
                        id="floatingInput" 
                        placeholder="example.com">

                    <label for="floatingInput">Ilość elementów na stonie:</label>
                </div>
                
                <div>
                    <!-- Guziki -->
                    <div class="formatuj-left formatuj-margin">
                        <button type="submit" class="btn btn-success btn-sm" value="Ustaw plan">Zapisz Ustawienia</button>
                        <!-- <input type="submit" class="btn btn-success btn-sm" value="Zapisz Ustawienia"/> -->
                    </div>
                    <div class="formatuj-left formatuj-margin">                    
                        <input type="submit" class="btn btn-danger btn-sm" id="restartButton" value="Restaruj Aplikację"/>
                        <p class="jasny formatuj-padding" style="margin-top: 25px; max-width: 150px; color: #beddff">Ostatni restart aplikacji: {{restart}}</p>
                    </div>

                </div>
            </div>
            <div class="colapse-column-usual formatuj-left">
                <div class="formatuj-left">
                    <h5>Ustawienia Adresu Admina:</h5>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text formatuj-inputs" id="inputGroup-sizing-sm"><i class="bi bi-envelope-at-fill"></i></span>
                    <input type="text" class="form-control formatuj-inputs" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Adres E-mail" name="admin-smtp-username" id="admin-smtp-username" value="{{smtpAdmin['smtp_username']}}" required>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text formatuj-inputs" id="inputGroup-sizing-sm"><i class="bi bi-hdd-network"></i></span>
                    <input type="text" class="form-control formatuj-inputs" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Serwer SMTP" name="admin-smtp-server" id="admin-smtp-server" value="{{smtpAdmin['smtp_server']}}" required>
                    <input type="text" class="form-control formatuj-inputs" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="Port" name="admin-smtp-port" id="admin-smtp-port" value="{{smtpAdmin['smtp_port']}}" required>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text formatuj-inputs" id="inputGroup-sizing-sm"><i class="bi bi-file-earmark-lock2"></i></span>
                    <input type="password" class="form-control formatuj-inputs" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="admin-smtp-password" id="admin-smtp-password" value="" placeholder="Hasło do E-maila">
                </div>

                <div class="formatuj-left">
                    <h5>Plik Nakładki Ogłoszeń:</h5>
                </div>
                
                <div class="input-group mb-3">
                    <label class="input-group-text formatuj-inputs" for="etate_logo"><i class="bi bi-cloud-upload"></i></label>
                    <input type="file" class="form-control formatuj-inputs" id="etate_logo" name="tmpl_logo" accept=".png"/>
                </div>
                <div style="max-width: 200px;">
                    <img src="{{etate_logo_png}}" alt="Brak pliku nakładki!" style="max-width: 100%; height: auto;">
                </div>
                
                
            </div>
            <div class="colapse-column-usual formatuj-left">
                <div class="formatuj-left">
                    <h5>Ustawienia witryn:</h5>
                    <div class="form-floating mb-3">
                        <input type="text" name="url-domy" value="{{domy}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                        <label for="floatingInput">Witryna DMD Domy</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="url-budownictwo" value="{{budownictwo}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                        <label for="floatingInput">Witryna DMD Budownictwo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="url-development" value="{{development}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                        <label for="floatingInput">Witryna DMD Development</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="url-elitehome" value="{{elitehome}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                        <label for="floatingInput">Witryna DMD EliteHome</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="url-inwestycje" value="{{inwestycje}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                        <label for="floatingInput">Witryna DMD Inwestycje</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="url-instalacje" value="{{instalacje}}" class="formatuj-inputs-setting form-control" id="floatingInput" placeholder="example.com">
                        <label for="floatingInput">Ścieżka do Instalacje</label>
                    </div>
                </div>                                          
            </div>
            
        </div>
    </form>
</div>
<div class="jasne rogi formatyj-maly-wiersz">
    <div class="rogi colapse-column-usual formatuj-left">
        <h5>Ostatnie Logi Systemowe</h5>
        <ul class="unix-log-style">
            {% for log in last_logs %}
                {% if log.count("UWAGA!") > 0 %} 
                    <li style="color: red;">{{ log }}</li>
                {% else %}
                    <li>{{ log }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<script>
    document.getElementById('restartButton').addEventListener('click', function(event) {
        event.preventDefault();  // Zapobiega domyślnemu zachowaniu przycisku submit

        fetch('/restart', {
            method: 'POST',  // Zakładając, że używasz metody POST do restartu
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('Błąd w odpowiedzi sieciowej.');
            }
        })
        .then(data => {
            console.log(data.message);  // Zakładając, że endpoint zwraca jakąś wiadomość
            // alert('Aplikacja została zrestartowana.');
            window.location.href = '/setting'; 
        })
        .catch(error => {
            console.error('Wystąpił błąd:', error);
            alert('Nie udało się zrestartować aplikacji.');
        });
    });
</script>
{% endblock %}



{% block footer %}
 To jest stopka panelu administracyjnego. All right reserved &copy; 2024 by DMD Panel Administratora.<br/>
{% endblock %}