{% extends 'base.html' %}

{% block title %}DMD Panel Administratora - Zarządzanie Subskrybentami{% endblock %}

{% block addButton %}{% endblock %}
{% block navbarTitle %}
<!-- d-block d-sm-none tylko na średnim sm+ -->
<div class="d-block d-sm-none mt-2">
    <div style="display: flex; justify-content: space-between;">
        <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop_sm" aria-controls="offcanvasTop_sm">
            <img 
                src="../static/img/logotypy_dmd_domy.png" 
                alt="DMD" 
                style="margin-left: 2px !important; padding-right: 10px; max-height: 22px;"/>
        </a>
    </div>
</div>
<!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
<div class="d-none d-sm-block d-lg-none mt-2">
    <div style="display: flex; justify-content: space-between;">
        <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop_lg" aria-controls="offcanvasTop_lg">
            <img 
                src="../static/img/logotypy_dmd_domy.png" 
                alt="DMD" 
                style="margin-left: 5px !important; padding-right: 10px; max-height: 35px;"
                />
        </a>
        <a 
            class="nav-link active dark-mode" 
            aria-current="page" 
            style="max-height: 40px; font-size: 15px; font-weight: 100;"
            href="#">
            Zarządzanie Subskrybentami
        </a>
    </div>
</div>
<!-- d-none d-xl-block tylko na pełnym xl+ -->
<div class="d-none d-lg-block mt-2">
    <div style="display: flex; justify-content: space-between;">
        <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop_xl" aria-controls="offcanvasTop_xl">
            <img 
                src="../static/img/logotypy_dmd_domy.png" 
                alt="DMD" 
                style="margin-left: 10px !important; padding-right: 10px; max-height: 40px;"/>
        </a>
        <a 
            class="nav-link active dark-mode" 
            aria-current="page" 
            style="max-height: 45px; font-size: 20px; font-weight: 100;"
            href="#">
            Zarządzanie Subskrybentami
        </a>
    </div>
</div>
{% endblock %}

{% block tableHeader %}
                        <div>
                            <div class="row klej formatuj-header">
                                <div class="d-none d-lg-block" style="max-width: 30px;">
                                    #
                                </div>
                                <div  class="col-xl-10 col-lg-10 col-sm-11">
                                    Imię
                                </div>
                                <div  class="d-none d-xl-block" style="max-width: 100%;">
                                    Email
                                </div>
                                <div  class="d-none d-xl-block" style="max-width: 100px;">
                                    Status
                                </div>
                                <div  class="col-xl-2 col-lg-4 col-sm-1 d-flex justify-content-end">
                                    <i class="bi bi-person-gear"></i> Akcja 
                                </div>
                            </div>
                        </div>
{% endblock %}
{% block tableContent%}
                        
                        {% for subs_data in subs %}
                            {% set subs_id  = subs_data['id'] %}
                        <!-- linia contentu tabeli ciemna-->
                        <div>
                            <div class="row klej {% if loop.index is even %}formatuj-light-line{% else %}formatuj-dark-line{% endif %}" >
                                <div class="d-none d-lg-block" style="max-width: 30px;" data-bs-toggle="collapse" href="#collapse_id_{{subs_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{subs_id}}">
                                    {{subs_id}}
                                </div>
                                <div class="col-xl-10 col-lg-10 col-sm-11" data-bs-toggle="collapse" href="#collapse_id_{{subs_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{subs_id}}">
                                    <a data-bs-toggle="collapse" href="#collapse_id_{{subs_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{subs_id}}">
                                        {{subs_data['name']}}
                                    </a>
                                </div>
                                <div  class="d-none d-xl-block" style="max-width: 100%;" data-bs-toggle="collapse" href="#collapse_id_{{subs_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{subs_id}}">
                                    <a data-bs-toggle="collapse" href="#collapse_id_{{subs_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{subs_id}}">
                                        {{subs_data['email']}}
                                    </a>
                                </div>
                                <div class="d-none d-xl-block" style="max-width: 100px;" data-bs-toggle="collapse" href="#collapse_id_{{subs_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{subs_id}}">
                                    <a data-bs-toggle="collapse" href="#collapse_id_{{subs_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{subs_id}}">
                                        {% if subs_data['status'] == '1' %}
                                            <span style="color: #46ff56 !important;">Aktywny</span>
                                        {% else %}
                                        <span style="color: #878787 !important;">Niezweryfikowany</span>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-xl-2 col-lg-4 col-sm-1 d-flex justify-content-end">
                                    
                                    <form method="POST" id="subs_{{subs_id}}" action="{{ url_for('remove_subscriber') }}" enctype="multipart/form-data" onsubmit="return confirm('Czy na pewno chcesz usunąć subskrybenta?');">
                                        {% if userperm['commnets'] == 1 and subs_data['comments']|length > 0 %}
                                            <a data-bs-toggle="collapse" href="#collapse_id_{{subs_id}}" role="button" aria-expanded="false" aria-controls="collapse_id_{{subs_id}}"><i class="bi bi-chat-left-text" style="color: rgb(217, 217, 217) !important;"></i></a>
                                        {% endif %}
                                        <a href="mailto:{{subs_data['name']}}"><i class="bi bi-envelope-at" style="color: rgb(89, 176, 90) !important;"></i></a>
                                        <input type="hidden" name="SubasID" id="UserName_{{subs_id}}" value="{{subs_id}}"/>
                                        <button type="submit" class="custom-icon-button"><i class="bi bi-trash-fill" style="color: rgb(149, 47, 47) !important;"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- collapse start -->
                        {% if userperm['commnets'] == 1 and subs_data['comments']|length > 0 %}
                        <div class="sub-panel rogi collapse" id="collapse_id_{{subs_id}}">
                            {% for comment in subs_data['comments'].values() %}
                            <div class="formatuj-maly-wiersz formatuj-padding-lg rogi podswietlaj-plus-rogi formatuj-margin-left">
                                <div class="row" style="width: 100%;">
                                    <div class="col-xl-7 col-lg-7 col-sm-10 formatuj-maly-font">
                                        {{comment['message']}}
                                    </div>
                                    <div class="d-none d-xl-block formatuj-maly-font" style="max-width: 100%;">
                                        {{comment['post_title']}}
                                    </div>
                                    <div class="d-none d-xl-block formatuj-maly-font" style="max-width: 150px;">
                                        {{comment['data-time']}}
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        <form method="POST" id="removeComment_{{subs_id}}" action="{{ url_for('remove_comment') }}" enctype="multipart/form-data" onsubmit="return confirm('Czy na pewno chcesz usunąć komentarz?');">
                                            <input type="hidden" name="page" id="CommName_{{subs_id}}" value="subs"/>
                                            <input type="hidden" name="comment_id" id="CommName_{{subs_id}}" value="{{comment['id']}}"/>
                                            <button type="submit" class="custom-icon-button"><i class="bi bi-trash" style="color: rgb(205, 93, 93) !important;"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <!-- collapse end -->
                        {% endfor %}
                        <!-- Paginacja -->
                        <span class="formatuj-maly-logout">{{ pagination.info }}</span>
                        <div class="pagination formatuj-margin-top">
                            <nav aria-label="Page navigation example">                            
                                <ul class="pagination justify-content-center dark-mode">
                                    <li class="page-item">{{ pagination.prev }}</li>
                                    <li class="page-item">{{ pagination.links }}</li>
                                    <li class="page-item">{{ pagination.next }}</li>
                                </ul>
                            </nav>
                        </div>
{% endblock %}


{% block footer %}
 To jest stopka panelu administracyjnego. All right reserved &copy; 2024 by DMD Panel Administratora.<br/>
{% endblock %}