{% extends 'base.html' %}
{% block scripts%}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script>
<script>
  // Funkcja przypisująca obrazy do elementów
  function assignImagesToElements() {
      document.querySelectorAll('.dostepnyPracownikSelector').forEach(pracownik => {
          const imageUrl = pracownik.getAttribute("data-image-url");
          if (imageUrl) {
              pracownik.querySelector('.team-avatar').style.backgroundImage = `url('${imageUrl}')`;
          }
      });
  }
  
  // Aktualizacja podświetlenia i przypisywanie awatarów
  function updateHighlight() {
    const highlightLimit = 4;
    Array.from(document.getElementById('onPage').children).forEach((item, index) => {
      item.classList.toggle('worker-on-home', index < highlightLimit);
    });
  }

  // Funkcja zbierająca dane pracowników i wysyłająca do endpointa
  function saveEmployees(department) {
    const employeesOnPage = Array.from(document.getElementById('onPage').children).map(item => item.innerText.trim());
    fetch('/ustawieni_pracownicy', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ 
        pracownicy: employeesOnPage,
        grupa: department })
    })
    .then(response => response.json())
    .then(data => {
        console.log("Odpowiedź z serwera:", data);
        const responseDiv = document.getElementById("responseMessage");

        // Sprawdzenie odpowiedzi i ustawienie wiadomości w divie
        if (data.status === "Sukces") {
            responseDiv.textContent = "Lista została zapisana!";
            responseDiv.style.color = "#3cff00"; // Kolor dla sukcesu
        } else {
            responseDiv.textContent = "Wystąpił błąd przy zapisywaniu listy.";
            responseDiv.style.color = "#ff0033"; // Kolor dla błędu
        }

        // Timer do ukrycia wiadomości po 3 sekundach
        setTimeout(() => {
            responseDiv.textContent = "";
        }, 3000);
    })
    .catch(error => {
        console.error("Błąd:", error);
        const responseDiv = document.getElementById("responseMessage");
        responseDiv.textContent = "Wystąpił błąd przy zapisywaniu listy.";
        responseDiv.style.color = "#ff0033"; // Kolor dla błędu
    });
    }
  
  document.addEventListener('DOMContentLoaded', assignImagesToElements);
</script>
{% endblock %}
{% block title %}DMD Panel Administratora - Zarządzanie Kadrą{% endblock %}

{% block addButton %}
<!-- d-block d-sm-none tylko na średnim sm+ -->
<div class="d-block d-sm-none mt-2">
    <!-- dropdown -->
    <div class="dropdown">
        <button 
            class="nav-link dropdown-toggle link-light dark-mode" 
            type="button" id="dropdownMenuButton2" 
            style="max-height: 29px; font-size: 20px;"
            data-bs-toggle="dropdown" aria-expanded="false">
            {% if user_brands['inwestycje'] == 0 %}
                {% if user_brands['domy'] == 1 %}
                    <script>window.location.href = "/team-domy";</script>
                {% else %}
                    {% if user_brands['budownictwo'] == 1 %}
                        <script>window.location.href = "/team-budownictwo";</script>
                    {% else %}
                        {% if user_brands['development'] == 1 %}
                            <script>window.location.href = "/team-development";</script>
                        {% else %}
                            {% if user_brands['elitehome'] == 1 %}
                                <script>window.location.href = "/team-elitehome";</script>
                            {% else %}
                                {% if user_brands['instalacje'] == 1 %}
                                    <script>window.location.href = "/team-instalacje";</script>
                                {% else %}
                                    <script>window.location.href = "/home";</script>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% else %}
                <i class="bi bi-house-door" style="color: #00ff08; position: relative; top: -10px;"></i>
            {% endif %}
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            {% if user_brands['domy'] == 1 %}
                <li><a class="team_button_domy dropdown-item active" href="/team-domy" style="max-height: 29px; font-size: 12px; font-weight: 100;">Domy</a></li>
            {% endif%}
            {% if user_brands['budownictwo'] == 1 %}
                <li><a class="dropdown-item" href="/team-budownictwo" style="max-height: 29px; font-size: 12px; font-weight: 100;">Budownictwo</a></li>
            {% endif%}
            {% if user_brands['elitehome'] == 1 %}
                <li><a class="dropdown-item" href="/team-elitehome" style="max-height: 29px; font-size: 12px; font-weight: 100;">EliteHome</a></li>
            {% endif%}
            {% if user_brands['instalacje'] == 1 %}
                <li><a class="dropdown-item" href="/team-instalacje" style="max-height: 29px; font-size: 12px; font-weight: 100;">Instalacje</a></li>
            {% endif%}
            {% if user_brands['development'] == 1 %}
                <li>
                    <a 
                        class="dropdown-item" 
                        style="max-height: 29px; font-size: 12px; font-weight: 100;"
                        href="/team-development">
                        Development
                    </a>
                </li>
            {% endif%}
            {% if user_brands['inwestycje'] == 1 %}
                <li>
                    <a 
                        class="dropdown-item" 
                        style="max-height: 29px; font-size: 12px; font-weight: 100;"
                        href="/team-inwestycje">
                        Inwestycje
                    </a>
                </li>
            {% endif%}
        </ul>
    </div>
    <!-- dropdown END -->
</div>
<!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
<div class="d-none d-sm-block d-lg-none mt-2">
    <!-- dropdown -->
    <div class="dropdown">
        <button 
        class="nav-link dropdown-toggle link-light dark-mode" 
        type="button" id="dropdownMenuButton2" 
        style="max-height: 40px; font-size: 15px; font-weight: 100;"
        data-bs-toggle="dropdown" aria-expanded="false">
            {% if user_brands['inwestycje'] == 0 %}
                {% if user_brands['domy'] == 1 %}
                    <script>window.location.href = "/team-domy";</script>
                {% else %}
                    {% if user_brands['budownictwo'] == 1 %}
                        <script>window.location.href = "/team-budownictwo";</script>
                    {% else %}
                        {% if user_brands['development'] == 1 %}
                            <script>window.location.href = "/team-development";</script>
                        {% else %}
                            {% if user_brands['elitehome'] == 1 %}
                                <script>window.location.href = "/team-elitehome";</script>
                            {% else %}
                                {% if user_brands['instalacje'] == 1 %}
                                    <script>window.location.href = "/team-instalacje";</script>
                                {% else %}
                                    <script>window.location.href = "/home";</script>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% else %}
                Domy
            {% endif %}
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            {% if user_brands['domy'] == 1 %}
                <li><a class="team_button_domy dropdown-item active" href="/team-domy" style="max-height: 40px; font-size: 15px; font-weight: 100;">Domy</a></li>
            {% endif%}
            {% if user_brands['budownictwo'] == 1 %}
                <li><a class="dropdown-item" href="/team-budownictwo" style="max-height: 40px; font-size: 15px; font-weight: 100;">Budownictwo</a></li>
            {% endif%}
            {% if user_brands['elitehome'] == 1 %}
                <li><a class="dropdown-item" href="/team-elitehome" style="max-height: 40px; font-size: 15px; font-weight: 100;">EliteHome</a></li>
            {% endif%}
            {% if user_brands['instalacje'] == 1 %}
                <li><a class="dropdown-item" href="/team-instalacje" style="max-height: 40px; font-size: 15px; font-weight: 100;">Instalacje</a></li>
            {% endif%}
            {% if user_brands['development'] == 1 %}
                <li>
                    <a 
                        class="dropdown-item" 
                        style="max-height: 40px; font-size: 15px; font-weight: 100;"
                        href="/team-development">
                        Development
                    </a>
                </li>
            {% endif%}
            {% if user_brands['inwestycje'] == 1 %}
                <li>
                    <a 
                        class="dropdown-item" 
                        style="max-height: 40px; font-size: 15px; font-weight: 100;"
                        href="/team-inwestycje">
                        Inwestycje
                    </a>
                </li>
            {% endif%}
        </ul>
    </div>
    <!-- dropdown END -->
</div>
<!-- d-none d-xl-block tylko na pełnym xl+ -->
<div class="d-none d-lg-block mt-2">
    <!-- dropdown -->
    <div class="dropdown">
        <button 
            class="nav-link dropdown-toggle link-light dark-mode" 
            type="button" id="dropdownMenuButton2" 
            data-bs-toggle="dropdown" 
            style="max-height: 45px; font-size: 20px; font-weight: 100;"
            aria-expanded="false">
            {% if user_brands['inwestycje'] == 0 %}
                {% if user_brands['domy'] == 1 %}
                    <script>window.location.href = "/team-domy";</script>
                {% else %}
                    {% if user_brands['budownictwo'] == 1 %}
                        <script>window.location.href = "/team-budownictwo";</script>
                    {% else %}
                        {% if user_brands['development'] == 1 %}
                            <script>window.location.href = "/team-development";</script>
                        {% else %}
                            {% if user_brands['elitehome'] == 1 %}
                                <script>window.location.href = "/team-elitehome";</script>
                            {% else %}
                                {% if user_brands['instalacje'] == 1 %}
                                    <script>window.location.href = "/team-instalacje";</script>
                                {% else %}
                                    <script>window.location.href = "/home";</script>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% else %}
                Domy
            {% endif %}
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
            {% if user_brands['domy'] == 1 %}
                <li><a class="team_button_domy dropdown-item active" href="/team-domy" style="max-height: 45px; font-size: 20px; font-weight: 100;">Domy</a></li>
            {% endif%}
            {% if user_brands['budownictwo'] == 1 %}
                <li><a class="dropdown-item" href="/team-budownictwo" style="max-height: 45px; font-size: 20px; font-weight: 100;">Budownictwo</a></li>
            {% endif%}
            {% if user_brands['elitehome'] == 1 %}
                <li><a class="dropdown-item" href="/team-elitehome" style="max-height: 45px; font-size: 20px; font-weight: 100;">EliteHome</a></li>
            {% endif%}
            {% if user_brands['instalacje'] == 1 %}
                <li><a class="dropdown-item" href="/team-instalacje" style="max-height: 45px; font-size: 20px; font-weight: 100;">Instalacje</a></li>
            {% endif%}
            {% if user_brands['development'] == 1 %}
                <li>
                    <a 
                        class="dropdown-item" 
                        style="max-height: 45px; font-size: 20px; font-weight: 100;"
                        href="/team-development">
                        Development
                    </a>
                </li>
            {% endif%}
            {% if user_brands['inwestycje'] == 1 %}
                <li>
                    <a 
                        class="dropdown-item" 
                        style="max-height: 45px; font-size: 20px; font-weight: 100;"
                        href="/team-inwestycje">
                        Inwestycje
                    </a>
                </li>
            {% endif%}
        </ul>
    </div>
    <!-- dropdown END -->
</div>
{% endblock %}
{% block navbarTitle %}
<!-- d-block d-sm-none tylko na średnim sm+ -->
<div class="d-block d-sm-none mt-2">
    <div style="display: flex; justify-content: space-between;">
        <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop_sm" aria-controls="offcanvasTop_sm">
            <img 
                src="../static/img/logotypy_dmd_domy.png" 
                alt="DMD" 
                style="margin-left: 2px !important; padding-right: 10px; max-height: 22px;"/>
        </a>

    </div>
</div>
<!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
<div class="d-none d-sm-block d-lg-none mt-2">
    <div style="display: flex; justify-content: space-between;">
        <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop_lg" aria-controls="offcanvasTop_lg">
            <img 
                src="../static/img/logotypy_dmd_domy.png" 
                alt="DMD" 
                style="margin-left: 5px !important; padding-right: 10px; max-height: 35px;"
                />
        </a>
        <a 
            class="nav-link active dark-mode" 
            aria-current="page" 
            style="max-height: 40px; font-size: 15px; font-weight: 100;"
            href="#">
            Zarządzanie Kadrą
        </a>
    </div>
</div>
<!-- d-none d-xl-block tylko na pełnym xl+ -->
<div class="d-none d-lg-block mt-2">
    <div style="display: flex; justify-content: space-between;">
        <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop_xl" aria-controls="offcanvasTop_xl">
            <img 
                src="../static/img/logotypy_dmd_domy.png" 
                alt="DMD" 
                style="margin-left: 10px !important; padding-right: 10px; max-height: 40px;"/>
        </a>
        <a 
            class="nav-link active dark-mode" 
            aria-current="page" 
            style="max-height: 45px; font-size: 20px; font-weight: 100;"
            href="#">
            Zarządzanie Kadrą
        </a>
    </div>
</div>
{% endblock %}

{% block tableHeader %}{% endblock %}
{% block tableContent%}
    <div class="row me-5 me-sm-0">
      <div class="col-lg-6 col-md-12">
        <!-- d-block d-sm-none tylko na średnim sm+ -->
        <div class="d-block d-sm-none mt-2"><h7>Dostępni pracownicy</h7></div>
        <!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
        <div class="d-none d-sm-block d-lg-none mt-2"><h5>Dostępni pracownicy</h5></div>
        <!-- d-none d-xl-block tylko na pełnym xl+ -->
        <div class="d-none d-lg-block mt-2"><h3>Dostępni pracownicy</h3></div>        
        <div id="available" class="list border">
          {% for member in members['available'] %}
          {% set member_photo = photos_dict[member] %}
          <div class="dostepnyPracownikSelector dostepnyPracownik" data-image-url="{{member_photo}}">
            <div class="team-avatar"></div>
            <span>{{member}}</span>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <!-- d-block d-sm-none tylko na średnim sm+ -->
        <div class="d-block d-sm-none mt-2"><h7>Pracownicy na stronie</h7></div>
        <!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
        <div class="d-none d-sm-block d-lg-none mt-2"><h5>Pracownicy na stronie</h5></div>
        <!-- d-none d-xl-block tylko na pełnym xl+ -->
        <div class="d-none d-lg-block mt-2"><h3>Pracownicy na stronie</h3></div>  
        <div id="onPage" class="list border">
          {% for member in members['home'] %}
          {% set member_photo = photos_dict[member] %}
          <div class="dostepnyPracownikSelector dostepnyPracownik worker-on-home" data-image-url="{{member_photo}}">
            <div class="team-avatar"></div>
            <span>{{member}}</span>
          </div>
          {% endfor %}
          {% for member in members['team'] %}
          {% set member_photo = photos_dict[member] %}
          <div class="dostepnyPracownikSelector dostepnyPracownik" data-image-url="{{member_photo}}">
            <div class="team-avatar"></div>
            <span>{{member}}</span>
          </div>
          {% endfor %}
        </div>
        <!-- d-block d-sm-none tylko na średnim sm+ -->
        <div class="d-block d-sm-none mt-2">
            <p class="p-3 text-secondary" style="font-size: 12px; font-weight: 100;">
                Moduł "Team" umożliwia łatwe dostosowywanie kolejności wyświetlania pracowników na stronie firmowej. 
                Po dokonaniu zmian, zapisz nowe ustawienia kolejności, zapewniając szybkie i intuicyjne zarządzanie 
                prezentacją zespołu na stronie.
            </p> 
        </div>
        <!-- d-none d-sm-block d-lg-none tylko na średnim lg+ -->
        <div class="d-none d-sm-block d-lg-none mt-2">
            <p class="p-3 text-secondary" style="font-size: 15px; font-weight: 200;">
                Moduł "Team" umożliwia łatwe dostosowywanie kolejności wyświetlania pracowników na stronie firmowej. 
                Po dokonaniu zmian, zapisz nowe ustawienia kolejności, zapewniając szybkie i intuicyjne zarządzanie 
                prezentacją zespołu na stronie.
            </p> 
        </div>
        <!-- d-none d-xl-block tylko na pełnym xl+ -->
        <div class="d-none d-lg-block mt-2">
            <p class="p-3 text-secondary" style="font-size: 18px;">
                Moduł "Team" umożliwia łatwe dostosowywanie kolejności wyświetlania pracowników na stronie firmowej. 
                Po dokonaniu zmian, zapisz nowe ustawienia kolejności, zapewniając szybkie i intuicyjne zarządzanie 
                prezentacją zespołu na stronie.
            </p> 
        </div>
        <button class="btn btn-primary mt-3" onclick="saveEmployees('domy')">Zapisz</button>
        <div id="responseMessage" class="mt-3"></div>
      </div>
    </div>


{% endblock %}
{% block bottom_script %}
  <script>
    const availableList = document.getElementById('available');
    const onPageList = document.getElementById('onPage');

    new Sortable(availableList, { 
      group: 'employees', 
      animation: 150,
      onAdd: (evt) => evt.item.classList.remove('worker-on-home')
    });

    new Sortable(onPageList, { 
      group: 'employees', 
      animation: 150,
      onSort: updateHighlight
    });

  </script>
{% endblock %}


